{% extends "base.html" %}

{% block head %}
    {{ block.super }}
	<script type="text/javascript" src="/static/js/jquery.js"/>

	<script type="text/javascript" src="/static/js/jquery.dimensions.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/static/css/ptTimeSelect/ui.core.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/ptTimeSelect/ui.theme.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/ptTimeSelect/jquery.ptTimeSelect.css" />
	<script type="text/javascript" language="JavaScript" src="/static/js/jquery.ptTimeSelect.js"></script>
	
	{% load adminmedia %}
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/grappelli/js/core.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/grappelli/css/widgets.css" media="screen" />
    <script type="text/javascript">
		window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
	</script>
    {{ form.media }}
{% endblock %}

{% block content %}        
    <div class="fixed-width"> 
        <h1>Service Hours Record Sheet</h1> <br />
         <p class="instructions"><b><u>INSTRUCTIONS:</u></b> Please fill in all the hours you have completed.
         Note the date and number of hours you completed on that date to the best of your ability.  You DO NOT need to print this form.</p>
         <br/>
        <form action="" name = "volunteer form" onsubmit="" method="post">
            <table style="width:100%;">
                <tr>
                   <td style="width:49%;">
                        <fieldset>
                            <legend>{{ student }}</legend>
                            <p>Service site: {{ volunteer_site.site }}</p> 
                            <p>Supervisor: {{ volunteer_site.supervisor }} </p> 
                            <p>Hours at Site: {{ volunteer_site.hours_at_site }}</p>
                            <p>Total hours completed: {{ student.hours_completed }} </p>
                            <p>Hours required: {{ student.hours_required }} </p> 
                        </fieldset>
                   </td>
                   <td style="width:49%;">
                        <table>
                            {{ form }}
                        </table>
                   </td>
                </tr>
            </table>
            <input class="button" type="submit" value="Click Here to Save Your Work"/>
            
        </form> 
	</div> 

{% endblock %}
