{% extends "base.html" %}

{% block nav %}
	
{% endblock %}

{% block css %}
<style type="text/css">
textarea {
    height: 5em;
}
</style>
{% endblock %}

{% block head %}
	    
{% endblock %}

{% block content %}

<h2> Choose Existing Site </h2>
<form method="post">
<table>
{{ existing_site_form }}
</table>
<input type="submit" name="existing_site_submit" value="Get Existing Site Approval" />
</form>

<br/><br/><h2>OR</h2><br/><br/>

<h2> Enter a new site </h2>
<form method="post">
<fieldset>
    <legend>Volunteer Site</legend>
    <table>
    {{ new_site_form }}
    {{ job_desc }}
    </table>
</fieldset>
<fieldset>
    <legend>Supervisor</legend>
    <table>
    {{ supervisor_form }}
    </table>
</fieldset>

<input type="submit" name="new_site_submit" value="Get New Site Approval" />
</form>

{% endblock %}
