{% extends "base.html" %}

{% block content %}


<h1>Volunteer (choose an option)</h1>


<div class="volunteer-left">
<div class="subhead-text">
I want to volunteer at an <strong>existing site</strong>.
</div>


<form method="post" class="inline-label">
    <div class="volunteer-field">
		    {{ existing_site_form.site.label }}
		    {{ existing_site_form.site }}
		    {{ existing_site_form.site.errors }}
    </div>
    
    <div class="volunteer-field">
		    <!--[if IE]><label for="id_job_description" >Job Description</label><![endif]-->
		    <textarea placeholder="Job Description" id="id_job_description" name="job_description" class="volunteer-description"></textarea>
    </div>
    
    <div class="clear"></div>
    
    <div class="submitwrap">
	<input type="submit" name="existing_site_submit" class="button gray" value="Submit for Approval">
    </div>
</form>


</div><!-- .LEFT COLUMN -->

<div class="volunteer-right">
<div class="subhead-text">
I want to volunteer at a <strong>new site</strong>.
</div>

<form method="post" action="" class="inline-label">

<div class="volunteer-field">
		<!--[if IE]><label for="id_{{ new_site_form.site_name.html_name }}">Site Name</label><![endif]-->
		<input placeholder="{{ new_site_form.site_name.label }}" type="text" id="id_{{ new_site_form.site_name.html_name }}" name="{{ new_site_form.site_name.html_name }}" value="{{ new_site_form.site_name.value|default_if_none:"" }}" class="volunteer">
		{{ new_site_form.site_name.errors }}
</div>

<div class="volunteer-field">
		<!--[if IE]><label for="id_{{ new_site_form.site_address.html_name }}" >Address</label><![endif]-->
		<input placeholder="{{ new_site_form.site_address.label }}" type="text" id="id_{{ new_site_form.site_address.html_name }}" name="{{ new_site_form.site_address.html_name }}" value="{{ new_site_form.site_address.value|default_if_none:"" }}" class="volunteer">
		{{ new_site_form.site_address.errors }}
</div>


<div class="volunteer-city">
		<!--[if IE]><label for="id_{{ new_site_form.site_city.html_name }}" >City</label><![endif]-->
		<input placeholder="{{ new_site_form.site_city.label }}" type="text" id="id_{{ new_site_form.site_city.html_name }}" name="{{ new_site_form.site_city.html_name }}" value="{{ new_site_form.site_city.value|default_if_none:"" }}" class="volunteer">
		{{ new_site_form.site_city.errors }}
</div>
<div class="volunteer-state">
		<!--[if IE]><label for="id_{{ new_site_form.site_state.html_name }}" >State</label><![endif]-->
		<input placeholder="{{ new_site_form.site_state.label }}" type="text" id="id_{{ new_site_form.site_state.html_name }}" name="{{ new_site_form.site_state.html_name }}" value="{{ new_site_form.site_state.value|default_if_none:"" }}" class="volunteer">
		{{ new_site_form.site_state.errors }}
</div>
<div class="volunteer-zip">
		<!--[if IE]><label for="id_{{ new_site_form.site_zip.html_name }}" >Zip</label><![endif]-->
		<input placeholder="{{ new_site_form.site_zip.label }}" type="text" id="id_{{ new_site_form.site_zip.html_name }}" name="{{ new_site_form.site_zip.html_name }}" value="{{ new_site_form.site_zip.value|default_if_none:"" }}" class="volunteer">
		{{ new_site_form.site_zip.errors }}
</div>


<div class="volunteer-field">
		<!--[if IE]><label for="id_{{ new_site_form.job_description.html_name }}" >Job Description</label><![endif]-->
		<textarea placeholder="{{ new_site_form.job_description.label }}" id="id_{{ new_site_form.job_description.html_name }}" name="{{ new_site_form.job_description.html_name }}" class="volunteer-description">{{ new_site_form.job_description.value|default_if_none:"" }}</textarea>
		{{ new_site_form.job_description.errors }}
</div>

<div class="clear"></div>
<div class="spacer-3"></div>


<div class="volunteer-field">
		<!--[if IE]><label for="id_{{ supervisor_form.name.html_name }}" >Supervisor Name</label><![endif]-->
		<input placeholder="{{ supervisor_form.name.label }}" type="text" id="id_{{ supervisor_form.name.html_name }}" name="{{ supervisor_form.name.html_name }}" value="{{ supervisor_form.name.value|default_if_none:"" }}" class="volunteer">
		{{ supervisor_form.name.errors }}
</div>

<div class="volunteer-superphone">
		<!--[if IE]><label for="id_{{ supervisor_form.phone.html_name }}" >Phone</label><![endif]-->
		<input placeholder="{{ supervisor_form.phone.label }}" type="text" id="id_{{ supervisor_form.phone.html_name }}" name="{{ supervisor_form.phone.html_name }}" value="{{ supervisor_form.phone.value|default_if_none:"" }}" class="volunteer">
		{{ supervisor_form.phone.errors }}
</div>
<div class="volunteer-superemail">
		<!--[if IE]><label for="id_{{ supervisor_form.email.html_name }}" >Email</label><![endif]-->
		<input placeholder="{{ supervisor_form.email.label }}" type="text" id="id_{{ supervisor_form.email.html_name }}" name="{{ supervisor_form.email.html_name }}" value="{{ supervisor_form.email.value|default_if_none:"" }}" class="volunteer">
		{{ supervisor_form.email.errors }}
</div>

<div class="clear"></div>

<div class="submitwrap">
<input type="submit" class="button gray" name="new_site_submit" value="Submit New Site for Approval">
</div>

</form>


</div><!-- .RIGHT COLUMN -->


<div class="clear"></div>


<div class="spacer-2"></div>
{% endblock %}
