{% extends "grappelli/templates/admin/change_form.html" %}
{% load i18n admin_modify adminmedia grp_tags %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="tools">
                {% if not add %} <li><a href="/work_study/company_contract_pdf/{{ object_id }}" class="historylink">Download PDF</a></li> {% endif %}
                <li><a href="history/">{% trans "History" %}</a></li>
                {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}