{% extends 'base_next.html' %}
{% load staticfiles %}
{% load static from staticfiles %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'js/admissions/review_applications.js' %}"></script>
{% endblock %}

{% block content %}
{% verbatim %}

<div class="container custom-application" ng-app="admissions" ng-controller="ReviewApplicationsController" ng-init="init()">
  <div ng-if="viewAllApplicants()">
    <h1>Review Applications</h1>
    <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Application Decision</th>
            <th>Application Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="applicant in allApplicants">
            <td>{{ applicant.fname }}</td>
            <td>{{ applicant.lname }}</td>
            <td> ... </td>
            <td><a href="#" ng-click="loadStudentApplication()">click to view</a></td>
          </tr>
        </tbody>
      </table>  
</div>

{% endverbatim %}
{% endblock %}
