amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
boto==2.32.1
celery==3.1.13
chardet==2.2.1
Collectfast==0.2.0
colorama==0.3.1
dj-database-url==0.3.0
dj-static==0.0.6
django-admin-export==2.0
django-appconf==0.6
django-apptemplates==0.0.1
django-autocomplete-light-bsc==2.0.0a18
django-bower==5.0.1
django-cached-field==1.2.7
django-celery==3.1.10
django-ckeditor-updated==4.4.0
django-compressor==1.4
django-constance-updated==0.6.1
django-custom-field==2.2
django-dajax-ng==0.9.4
django-dajaxice-ng==0.6.0.0
django-daterange-filter==1.0.0
django-extensions
django-filter==0.7
django-floppy-gumby==0.1
django-grappelli==2.5.3
python-ldap
django-ldap-groups-bsc==0.1.5
django-libsass==0.2
django-localflavor==1.0
django-mass-edit==2.2
django-pagination==1.0.7
django-picklefield==0.3.1
django-positions==0.5.1
django-report-builder==2.0.1
django-report-scaffold==0.1.4
django-report-utils==0.2.6
django-responsive-dashboard==1.1
django-reversion==1.8.3
django-rosetta==0.7.4
django-simple-import==1.17
django-storages==1.1.8
django-impersonate==0.9.0
django-toolbelt==0.0.1
django-widget-tweaks==1.3
Django==1.6.7
djangorestframework-bulk==0.1.3
djangorestframework==2.4.3
gunicorn==19.1.1
setproctitle
html5lib==0.999
httpagentparser==1.7.3
jdcal==1.0
kombu==3.0.21
libsass==0.5.0
Markdown==2.4.1
odfpy==0.9.6
openpyxl==2.0.5
Pillow==2.5.3
polib==1.0.5
poster==0.8.1
psycopg2==2.5.3
python-dateutil==2.2
pytz==2014.4
raven==5.0.0
redis==2.10.3
reportlab==3.1.8
requests==2.3.0
simplejson==3.6.3
six==1.7.3
South==1.0
sqlparse==0.1.11
static3==0.5.1
suds==0.4
urllib3==1.9
wsgiref==0.1.2
xlrd==0.9.3
xlwt==0.7.5
python-social-auth
hiredis
django-heroku-redisify
django-tenant-schemas==1.4.8
tenant-schemas-celery
flower
newrelic
futures
trollius
git+https://github.com/gregmuellegger/django-floppyforms.git@636c7ec516d50a298164ee324b5c697b6676cbc6
git+https://github.com/jnm/django-file-import@f9078d9751060b0c6adfdd772fc89c7e32c0cd99
waitress
faulthandler
