django>=1.6,<1.6.99
django-ckeditor-updated
django-admin-export>=1.8
django-autocomplete-light>=2.0.0a1
django-custom-field
-e git://github.com/burke-software/django-simple-import.git@34e5bf62a3d26a491056c479706fc5880548f31e#egg=django_simple_import-master
django-dajax>=0.9.2
django-dajaxice>=0.5.5
django-grappelli>=2.4.3
django-mass-edit
django-pagination>=1.0.7
django-reversion>=1.6.3
django-localflavor
django-floppy-gumby
django-widget-tweaks
requests>=0.13.3
simplejson>=2.3.2
httpagentparser>=1.0.2
./install/hatchery/elementtree-1.2.7-20070827-preview.tar.gz
poster>=0.8.1
suds>=0.4
south>=0.7.6
xlwt>=0.7.2
raven>=3.3.7
reportlab
django-floppyforms>=1.0
-e git://github.com/burke-software/django-report-builder.git@ae4da2e5e28a92bbaf7114606d768e7547ffa789#egg=django_report_builder-master
# django-report-scaffold isn't in pypi yet; install from github
-e git://github.com/burke-software/django-report-scaffold.git#egg=django-report-scaffold
#django-responsive-dashboard>=1.0
-e git://github.com/burke-software/django-responsive-dashboard.git@5ccc205f1a3b7fd1913c26c8cc30c54eaac4312e#egg=django_responsive_dashboard-master
django-apptemplates>=0.0.1
django-filter>=0.5.4
# django-positions 0.5.1 may have a bug; messes up OMR question order
django-positions==0.5.0
django-bower
django-su
django-cached-field>=1.2.6
feedparser>=5.1.2
./install/hatchery/django-ldap-groups-0.1.3.tar.gz
django-rosetta>=0.7.1
-e git://github.com/zsiciarz/django-rosetta-grappelli.git#egg=django-rosetta-grappelli
django-celery>=3.1.9
-e git://github.com/tzulberti/django-datefilterspec.git#egg=django-daterange-filter
django-toolbelt
django-storages
boto
Markdown==2.4
djangorestframework==2.3.13
djangorestframework-bulk
django_compressor
django-libsass
Collectfast
mysql-python
