{% extends "base.html" %}
{% block content %}
    <h1>Change Password</h1>

    <div class="subhead-text">
    Please fill out the form below to submit your password change request.
    </div>

    <div class="spacer-3"></div>


    <form method="post" class="inline-label" action="{% url django.contrib.auth.views.password_change %}" style="text-align: center">
    {% csrf_token %}

    <div class="change-password">
                    <label for="id_{{ form.old_password.html_name }}" class="login">Old Password</label>
                    <input autofocus="autofocus" type="password" id="id_{{ form.old_password.html_name }}" name="{{ form.old_password.html_name }}" value="{{ form.old_password.value|default_if_none:"" }}" class="changepassword">
    </div>
    
    <div class="clear"></div>
    
    <div class="change-password">
                    <label for="id_{{ form.new_password1.html_name }}" class="login">New Password</label>
                    <input type="password" id="id_{{ form.new_password1.html_name }}" name="{{ form.new_password1.html_name }}" value="{{ form.new_password1.value|default_if_none:"" }}" class="changepassword">
    </div>
    
    <div class="clear"></div>
    
    <div class="change-password">
                    <label for="id_{{ form.new_password2.html_name }}" class="login">Verify New Password</label>
                    <input type="password" id="id_{{ form.new_password2.html_name }}" name="{{ form.new_password2.html_name }}" value="{{ form.new_password2.value|default_if_none:"" }}" class="changepassword">
    </div>
    
    <div class="clear"></div>
    
    <div class="spacer-3"></div>
    
            <div class="changepassbuttonwrap">
                    <input type="submit" class="button gray" value="Change Password">
            </div>
    
    
        <input type="hidden" name="next" value="{{ next }}" />
    
    </form>

{% endblock %}
