{% load static from staticfiles %}
<!-- ALL of the icons/favicons -->
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-192x192.png' %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-160x160.png' %}" sizes="160x160">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon-57x57.png' %}">

<meta name="msapplication-config" content="none"/>
<meta name="msapplication-TileColor" content="#8F4848">
<meta name="msapplication-TileImage" content="{% static 'favicon/mstile-144x144.png' %}">
<!-- End of icons/favicons -->