#grp-content {
    top: 120px !important;
}

#grp-header {
    font-family: "Open Sans";

    .navbar ul li > a {
        font-size: 14px !important;
    }
}

#search {
    width: 210px;
}
#grp-filters {
    width: 210px;
}
