#scaffold_active_filters {
  .filter {
    &.removable {
      border: 1px solid #bebdbd;
      //border-bottom: 1px solid #E5E5E5;
      border-radius: 2px;
      padding: 5px;
      margin: 5px;
      
      .filter-title {
        margin-left: 1.2%;
      }
    }
  }


  label.inline {
    vertical-align: text-top;
  }
}

.picker-multiple select {
  color: #555;
  font-size: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;

  option {
    padding: 5px 15px;
  }
}

.delete-filter {
  float: right;
  font-size: 2em;
}

.handle {
  float: right;
  font-size: 2em;
  cursor: move;
}

.column-in-report {
  float: right;
  font-size: 2em;
}

.TardyFilter .xnarrow {
  vertical-align: top;
  margin-left: 15px;
}

.IncludeDeleted {
  h3 {
    display: inline; font-size: $med;
  }

  form {
    display: inline;
  }
}



#scaffold{
  .active_filters {
    background-color: #eee;
    width: 66%;
    padding: 5px;
    float: left;
  }
  .select_filters {
    background-color: #eee;
    width: 33%;
    padding: 5px;
    float: right;
  }

  li {
    
  }
  
  .ui-state-highlight {
    min-height: 2em;
    padding: 5px;
    margin: 5px;
  }
}
