@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

html, body {
	@extend .full-height;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.full-height {
	height: 100%;
}

.navbar-default .navbar-nav > li > a {
	text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b;
	text-transform: uppercase;
}