{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

<div class="row">
  <div class="four columns">
    <div class="field">
      <label for="{{ form.date_begin.id_for_label }}">Start&nbsp;Date:</label>
      {{ form.date_begin|add_class:"text input" }}
    </div>
  </div>
  <div class="four columns">
    <div class="field">
      <label for="{{ form.date_end.id_for_label }}">End&nbsp;Date:</label>
      {{ form.date_end|add_class:"text input" }}
    </div>
  </div>
</div>