{{ answer.non_field_errors }}
{% for hidden in answer.hidden_fields %} {{ hidden }} {% endfor %}
<table>
    <tr>
        <td>
            <span class="answer_span">{{ answer.answer }} {{ answer.answer.errors }}</span>
        </td>
        <td>
            <div>
                {{ answer.point_value.label }}<br/>
                <span class="point_value_span">{{ answer.point_value }}</span>
                {{ answer.point_value.errors }}
            </div>
            <div>
                {{ answer.error_type.label }}<br/>{{ answer.error_type }} {{ answer.error_type.errors }}
            </div>
        </td>
        {% if not finalized %}
            <td style="text-align: right;">
                {{ answer.DELETE }} Delete? 
            </td>
        {% endif %}
    </tr>
</table>