{% extends "admin/index.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
      <a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
      &rsaquo; <a href="{% url ecwsp.omr.views.my_tests %}">{% trans 'My Tests' %}</a>
      &rsaquo; <a href="{% url ecwsp.omr.views.edit_test test.id %}">{{ test }}</a>  
      &rsaquo; {{ test }} Questions
    </div>
{% endblock %}

{% block extrahead %}
    {% load adminmedia %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    {{ question_form.media }}
    <style type="text/css">
      .content-grid {
        min-width: 800px !important;
      }
      .group h2, .module h2, .group div {
        padding: 1px;
      }
      .question_header input[type="text"]{
        padding: 0px;
        border-style: dotted;
        height: inherit;
        background: transparent;
        width: 35px;
      }
      .row {
        margin: 0px;
      }
      .module:first-child {
        margin-top: 0 !important;
      }
      #content {
        margin: 0px;
      }
    </style>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <style type="text/css">
    tbody th, tbody td {
      border-top: 0px solid white;
      border-bottom: 0px solid #E0E0E0;
    }
    .group ul, .group li {
      list-style-type: inherit;
      margin-left: 6px;
    }
    .group ol {
      margin-left: 6px;
    }
    .group div {
      font-weight: normal;
      padding: 3px 5px;
    }
    .qtable_right {
      float: right;
      width: 130px;
    }
    
    .save_bar {
      border: 0;
      border-top: 1px solid #BDBDBD;
      border-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: #333;
      background: -moz-linear-gradient(top, #444, #333);
      background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
      background: -o-linear-gradient(top, #444, #333);
    }
    form {
      margin-top: -2px;
    }
    
    disabled {
      background: #808080;
    }
    
    .tools a.icon {
      height: 6px;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
  <script type="text/javascript" src="/static/omr/omr_questions.js"></script>    
{% endblock %}

{% block content_title %}
    <h1>Open Metric Recognition</h1>
{% endblock %}

{% block content %}
  <h2 id="title_h2">{{ test }} Questions </h2>
  {% for question in questions %}
    {% include "omr/edit_test_questions_read_only.html" with question=question %}
  {% endfor %}
  <div id="new_question_div"></div>
  
  {% if not test.finalized %}
    <a onclick="add_question();" class="grp-button">Add Question</a>
    <a onclick="return showAddAnotherPopup(this);" href="/omr/question_bank/" class="grp-button">
      Add Question from Question Bank
    </a>
  {% endif %}
  
  <br/>
  <a href="/sis/preferences?refer={{ request.get_full_path }}">Remember you can change defaults in your preferences</a>
  
  <footer class="grp-module grp-submit-row grp-fixed-footer">
    <ul>
      <li class="grp-float-left">
        <a href="download_test" target="_blank" class="grp-button"> View Test </a>
      </li>
      <li>
        <button onclick="finalize_test({{ test.id }});" class="grp-button">Finalize</button>
      </li>
    </ul>
  </footer>
{% endblock %}
