<div class="grp-group grp-tabular" id="question_{{ question.id }}">
    <div class="grp-module grp-group grp-tabular">
        <h2 class="grp-collapse-handler">
            Question <span class="question_order">{{ question.order }}</span>
              <a href="javascript://" onclick="move_question('down', {{ question.id }})" class="icon open-handler" title="Move Down">  &nbsp;↓  &nbsp;</a></li>
              <a href="javascript://" onclick="move_question('up', {{ question.id }})" class="icon close-handler" title="Move Up">  &nbsp;↑ &nbsp; </a></li>
        </h2>
        <div class="grp-row grp-module">
            <div class="grp-float-left">
                {{ question.question|safe }}
            </div>
            <div class="grp-float-right">
                <div>
                    {{ question.point_value }} Possible Point {{ question.point_value|pluralize }}
                    <br/>
                    {{ question.type }}
                    {% if question.group %} <br/> Group: {{ question.group }} {% endif %}
                    {% for benchmark in question.benchmarks.all %}
                      {% if forloop.first %} <p style="font-weight: bold; padding:0px;"> Benchmarks </p> {% endif %}
                      <p style="padding:0px;">{{ benchmark }}</p>
                    {% endfor %}
                    {% for theme in question.themes.all %}
                      {% if forloop.first %} <p style="font-weight: bold; padding:0px;"> Themes </p> {% endif %}
                      {{ theme }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="grp-module">
      {% for answer in question.answer_set.all %}
        <div id="div_answer_{{ answer.id }}" class="grp-row" {% if answer.point_value == question.point_value %} style="background: #a6ffa8;" {% endif %}>
            <div class="grp-float-left">
                {{ answer.answer|safe }}
            </div>
            <div class="grp-float-right">
                {% if question.has_no_answer %}
                    <a class="grp-button mark_button_{{ question.id }}" onclick="mark_as_answer({{ question.id }}, {{ answer.id }})"> Mark as answer </a>
                {% endif %}
                <span id="point_value_{{ answer.id }}">{{ answer.point_value }}</span> Point{{ answer.point_value|pluralize }}
                {% if answer.error_type %} <br/> Error Type: {{ answer.error_type }} {% endif %}
            </div>
        </div>
      {% endfor %}
      </div>
      <a class="grp-button" onclick="edit_question({{ question.id }})">Edit</a>
</div>