{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    {{ formset.media }}
    <script type="text/javascript">
        $(document).ready(function() {
            grappelli.initDateAndTimePicker();
        });
    </script>
{% endblock %}

{% block content %}
    <h2> Select Grading Method </h2>
    <p>
	There may be multiple ways for you to grade or view grades. Please select one. You may change it after your
	selection.
    </p>
    <div style="border: 5px solid black; width: 32em; margin: 5px 0; padding: 5px">
      <p style="font-size: larger; text-align: justify"><strong>WARNING:</strong>
        If you have already entered grades with one method and then switch to another one,
        the grades you entered with the first method <em>will be overwritten!</em>
      </p>
    </div>
    <form method="post" action="">
    {% csrf_token %}
        {% if 'ecwsp.benchmark_grade' in settings.INSTALLED_APPS %}
	    <div>
		<button style="width:auto" type="submit" name="choice" value="O" class="grp-button">Online gradebook</button>    
	    </div>
	{% endif %}
	{% if 'ecwsp.engrade_sync' in settings.INSTALLED_APPS %}
	    <div>
		<button style="width:auto" type="submit" name="choice" value="E" class="grp-button">Sync from Engrade</button>    
	    </div>
	{% endif %}
	{% if allow_spreadsheet %}
	    <div>
		<button style="width:auto" type="submit" name="choice" value="S" class="grp-button">Import spreadsheet</button>
	    </div>
	{% endif %}
	{% if allow_manual %}
	    <div>
		<button style="width:auto" type="submit" name="choice" value="M" class="grp-button">Manual entry</button>
	    </div>
	{% endif %}
    </form>
{% endblock %}

