{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
	<h1> Teacher Grade Submissions </h1>
    <table>
				<tr>
						<th>Teacher</th>
						<th>Course Section</th>
						<th>Last grade submission</th>
				</tr>
		{% for teacher in teachers %}
				<tr>
						<td>{{ teacher }}</td>
				</tr>
				{% for course_section in teacher.course_sections %}
						<tr>
								<td></td>
								<td>{{ course_section }}</td>
								<td>{{ course_section.last_grade_submission }}</td>
						</tr>
				{% endfor %}
		{% endfor %}
		</table>
		
{% endblock %}

