{% extends "base.html" %}

{% block css %}
	
{% endblock %}

{% block content %}
	<h2> Select primary supervisor or add new supervisor </h2>
	<h3> {{ student }} </h3>
	<form action="" method="post">
		Select primary supervisor <br/>
		{{ form.primary_contact }}
		<input type="submit" name="edit" value="Edit"/> <input type="submit" name="save" value="Save" />
		<br/>{{ form.primary_contact.errors }}<br/>
		<p style="font-style: italic;">If primary supervisor is not in the dropdown you may add a new one.</p>
		<input type="submit" name="add" value="Add new supervisor" />
	</form>
{% endblock %}

