[contenteditable="true"]:focus{
  outline: 1px solid teal;
}
[contenteditable="true"]:hover{
  outline: 1px solid teal;
}
.editable:hover{
  outline: 1px solid teal;
}
i.handle { cursor: move; }

.icon {
  text-align: center;
}
.icon img {
  height: 80px;
}
.modal.active {
  z-index: 2;
}
/* Hack to keep chrome from freaking out with the nav menu */
.ui-helper-hidden-accessible {
left: -9999px;
}
.container{
  margin-top: 50px;
  margin-bottom: 20px;
}