.modal {
  background-color:#fbfdfd;
  display:none;
  width:550px;
  padding:20px;
  text-align:center;
  border:3px solid #333;
  
  opacity:0.98;
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  box-shadow: 20px 20px 200px black;
  -moz-box-shadow: 20px 20px 200px black;
  -webkit-box-shadow: 20px 20px 200px black;
  z-index: 1001;
}
#filter_content_box {
    text-align: left;
}
.export_table {
    border: none;
}