{% load admin_static %}{% load firstof from future %}{% load i18n grp_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    
    
    
    
    <! -- django-sis custom head files -->
    <!-- jQuery, jQuery-UI -->
    <script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
    <script src="{% static "grappelli/jquery/ui/js/jquery-ui-1.10.3.custom.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/ajax_select.js" %}" type="text/javascript"></script>
    {% include "gumby/head.html" %}
    <script type="text/javascript" src="{% static "js/admin_django_sis.js" %}"></script>
    
    
    
    
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% static "grappelli/jquery/ui/css/custom-theme/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "grappelli/stylesheets/screen.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% if LANGUAGE_BIDI %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output-rtl.css" %}" rel="stylesheet" type="text/css" media="screen" />
            <link href="{% block stylesheet_rtl %}{% static "grappelli/stylesheets/rtl.css" %}{% endblock %}" rel="stylesheet" type="text/css" media="screen" />
        {% else %}
            <link href="{% static "grappelli/stylesheets/mueller/grid/output.css" %}" rel="stylesheet" type="text/css" media="screen" />
        {% endif %}
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- JAVASCRIPTS -->
    {% block javascripts %}
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "grappelli/" %}{% endfilter %}";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
        <script type="text/javascript" charset="utf-8">
            // GLOBALS
            var grappelli = {},
                ADMIN_URL = "{% url 'admin:index' %}",
                MODEL_URL_ARRAY = {% if user.is_staff %}{% get_content_types %}{% else %}[]{% endif %},
                DATE_FORMAT = "{% get_date_format %}",
                TIME_FORMAT = "{% get_time_format %}",
                DATETIME_FORMAT = "{% get_datetime_format %}";
        </script>
        <!-- jQuery, jQuery-UI -->
        <script src="{% static "grappelli/jquery/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
        <script src="{% static "grappelli/jquery/ui/js/jquery-ui-1.10.3.custom.min.js" %}" type="text/javascript"></script>
        {% if debug %}
            <!-- Grappelli Main JS -->
            <script src="{% static "grappelli/js/grappelli.js" %}" type="text/javascript"></script>
            <!-- Grappelli jQuery Plugins, Widgets -->
            <script src="{% static "grappelli/js/jquery.grp_collapsible.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_collapsible_group.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_timepicker.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_related_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_fk.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_m2m.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_autocomplete_generic.js" %}" type="text/javascript"></script>
            <script src="{% static "grappelli/js/jquery.grp_inline.js" %}" type="text/javascript"></script>
        {% else %}
            <!-- Grappelli Minified -->
            <script src="{% static "grappelli/js/grappelli.min.js" %}" type="text/javascript"></script>
        {% endif %}
        <script type="text/javascript" charset="utf-8">
            (function($) {
                $(document).ready(function() {
                    $("#grp-navigation .grp-collapse").grp_collapsible();
                });
            })(grp.jQuery);
        </script>
    {% endblock %}
    <!-- EXTRAHEAD -->
    {% block extrahead %}
        {% include 'autocomplete_light/static.html' %}
    {% endblock %}
</head>
<body class="{% if is_popup %}grp-popup {% endif %}{% block bodyclass %}{% endblock %}{% if LANGUAGE_BIDI %} rtl{% endif %}">
    <div id="grp-container">

        <!-- HEADER -->
        <header id="grp-header" class="{% block header-class %}{% endblock %}">
            {% if not is_popup %}

            
            
            
            <!-- NAVIGATION -->
            <div class="navcontain">
                <nav class="navbar" id="nav1" gumby-fixed="top">
                  <div class="sixteen colgrid">
                    {% include "gumby/nav.html" %}
                    <div class="breadcrumbs">
                    <div id="breadcrumbs_area" class="row">
                      <div class="sixteen columns">
                        <div class="pull_left" id="breadcrumbs"> 
                          {% block breadcrumbs %}
                          {% endblock %}
                        </div>
                        <div class="pull_right">
                          <ul>
                            {% if dashboard %}
                            <li>
                              <a href="javascript:void(0)" onclick="customize_dashboard(this);">
                                CUSTOMIZE
                                <img class="nav_icon" src="{% static "responsive_dashboard/img/gear.svg" %}"/>
                              </a>
                            </li>
                            {% endif %}
                            <li>
                              <a href="{% url 'admin:index' %}">
                                VIEW SITE ADMIN
                                <img class="nav_icon" src="{% static "images/adminview.svg" %}"/>
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0);">
                                <img class="nav_icon" src="{% static "images/wrench_dark.svg" %}"/>
                                {% if user.first_name or user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user }}
                                {% endif %}
                                <i style="margin: 0px;" class="icon-down-dir"></i>
                              </a>
                              <div class="dropdown name_dropdown">
                                <ul>
                                  <li>
                                    <a href="/sis/preferences">Preferences</a>
                                  </li>
                                  <li>
                                    <a href="{% url 'admin:password_change' %}">Change Password</a>
                                  </li>
                                  <li>
                                    <a href="{% url 'admin:logout' %}">Log Out</a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                  </nav>
              </div>
            {% endif %}
        </header>

        <!-- CONTENT -->
        <article id="grp-content" class="{% block content-class %}{% endblock %}">
            
            <!-- MESSAGES -->
            {% block messages %}
                {% if messages %}
                    <ul class="grp-messagelist">
                        <!-- NOTE: no message|capfirst by purpose, because it does not work in some languages -->
                        {% for message in messages %} 
                            <li{% if message.tags %} class="grp-{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}

            <!-- CONTENT TITLE -->
            <header id="grp-content-title">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block object-tools %}{% endblock %}
            </header>

            <!-- CONTENT-CONTAINER -->
            <div id="grp-content-container">
                {% block content %}
                    {{ content }}
                    {% block filters %}{% endblock %}
                {% endblock %}
            </div>

        </article>
        
        <!-- FOOTER -->
        {% block footer %}{% endblock %}

    </div>
</body>
</html>
