{% extends "admin/base.html" %}
{% load i18n grp_tags %}
{% load sis_extras %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/ajax_select.js "></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/admin_django_sis.js"></script>

{% if google_analytics_code %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" />

<style type="text/css">
    td, th {
        padding: 7px 7px 6px;
    }
    div .column.span-6 {
        min-width: 400px;
    }
    div#breadcrumbs {
        padding: 2px 4px 2px 9px;
    }
    /* Why is it by id sometimes? */
    div.breadcrumbs {
        padding: 2px 4px 2px 9px;
    }
    div.breadcrumbs {
        position: fixed;
        top: 30px;
        left: 0;
        z-index: 1000;
        width: 100%;
        font-size: 11px;
    /*    font-weight: bold;*/
        text-align: left;
    }
    div.breadcrumbs {
        color: #666;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #e6e6e6;
    }
    body.popup div#breadcrumbs {
        top: 0;
    }

    h1 {
        margin: 8px 0 10px;
    }
    fieldset {
        border: solid 1px;
    }
    .modal {
        background-color:#fff;
        display:none;
        width:550px;
        padding:15px;
        text-align:center;
        border:2px solid #333;
    
        opacity:0.9;
        border-radius:6px;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        box-shadow: 0 0 100px #ddd;
        -moz-box-shadow: 0 0 100px #ddd;
        -webkit-box-shadow: 0 0 100px #ddd;
    }
</style>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<!--[if lt IE 9]>
<div id="noie" style="font-size: 400%; line-height: 60px; height: 340px">
    Warning Internet Explorer is NOT supported. Please download a different browser.
    <br/>
    <a href="http://www.mozilla.org/en-US/firefox"><img src="/static/ie/browser_firefox.gif"/></a>
    <a href="http://www.google.com/chrome"><img src="/static/ie/browser_chrome.gif"/></a>
    <a href="http://www.opera.com"><img src="/static/ie/browser_opera.gif"/></a>
    <a href="http://www.apple.com/safari"><img src="/static/ie/browser_safari.gif"/></a>
</div>
<![endif]-->
{% endblock %}

{% block content %}
{{ block.super }}

{% endblock %}
