{% extends "grappelli:admin/change_list.html" %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/modal.css" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            grappelli.initDateAndTimePicker();
        });
    </script>
    
    
    
    <script type="text/javascript" src="/static/js/jquery-migrate.js"></script>
    <script src="/static/js/jquery.tools.min.js" type="text/javascript"></script>
    <!-- Edited grappelli/js/actions.min.js to show overlaw when needed -->
    <script type="text/javascript"> 
        $(document).ready(function() {
            $("select[name=action]").change(function() {
                if ( $("option[value=export_simple_selected_objects]:selected").length ) {
                    $.post(  
                        "",  
                        $("#grp-changelist-form").serialize(),  
                        function(data){  
                            $("#export_xls_form").html(data);
                        }  
                    ); 
                    $("#export_xls_form").overlay({
                            top: '3',
                            fixed: false
                        });
                    $("#export_xls_form").overlay().load();
                    return false;
                }
            });
        });
    </script>
{% endblock %}

{% block object-tools-items %}
    {% if not is_popup %}
    {% endif %}
    {{block.super}}
{% endblock %}

{% block content %}
    {{ block.super }}
    <!-- Overlay -->
    <div class="modal" id="export_xls_form"><button class="close"> Close </button></div>
    <div class="modal" id="advanced_filter_box">
        <div id="filter_content_box">
            <button class="close"> Close </button>
        </div>
    </div>
{% endblock %}
