{% extends "grappelli:admin/change_list.html" %}
{% load static from staticfiles %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            grappelli.initDateAndTimePicker();
        });
    </script>
        
    <!-- Edited grappelli/js/actions.min.js to show overlaw when needed -->
    <script type="text/javascript"> 
        $(document).ready(function() {
            $("select[name=action]").change(function() {
                if ( $("option[value=export_simple_selected_objects]:selected").length ) {
                    $.post(  
                        "",  
                        $("#grp-changelist-form").serialize(),  
                        function(data){  
                            $("#export_xls_form").html(data);
                        }  
                    ); 
                    $("#export_xls_form").overlay({
                            top: '3',
                            fixed: false
                        });
                    $("#export_xls_form").overlay().load();
                    return false;
                }
            });
        });
    </script>
{% endblock %}

{% block object-tools-items %}
    {% if not is_popup %}
    {% endif %}
    {{block.super}}
{% endblock %}

{% block content %}
    {{ block.super }}
    <!-- Overlay -->
    <style>
    .non-gumby-modal {
        z-index: 999999;
        background-color:#fff;
        display:none;
        width:550px;
        padding:15px;
        text-align:center;
        border:2px solid #333;

        opacity:0.9;
        border-radius:6px;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        box-shadow: 0 0 100px #ddd;
        -moz-box-shadow: 0 0 100px #ddd;
        -webkit-box-shadow: 0 0 100px #ddd;
    }
    </style>
    <div class="non-gumby-modal" id="export_xls_form"><button class="close"> Close </button></div>
    <div class="non-gumby-modal" id="advanced_filter_box">
        <div id="filter_content_box">
            <button class="close"> Close </button>
        </div>
    </div>
    <script src="{% static "js/jquery.tools.min.js" %}" type="text/javascript"></script>
{% endblock %}
