{% load i18n %}
<form method="GET" action="">
    <ul>
        <li>
            <label for="id_date__gte">From:</label>
            <input type="text" style="width:190px;" placeholder="YYYY-MM-DD" name="date__gte" id="id_date__gte">
        </li>
        <li>
            <label for="id_date__lte">To:</label>
            <input type="text" style="width:190px;" placeholder="YYYY-MM-DD" name="date__lte" id="id_date__lte">
        </li>
        <li>
            <input type="submit" value="Go">
        </li>
    </ul>
</form>