{% extends "admin/base_site.html" %}
{% load i18n admission_extras %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
	div.box {
	    text-align:center;
	    width: 800px;
	    margin:0px auto;
	    padding:10px;
	    border:1px dashed #333;
	    background-color:#eee;
	}
	div.two {
	    width: 750px;
	}
	div.three {
	    width: 700px;
	}
	div.four {
	    width: 650px;
	}
	div.five {
	    width: 600px;
	}
	div.six {
	    width: 550px;
	}
	#content {
	    float: center;
	}
	h2 {
	    text-align: center;
	}
	.level {
	    font-weight: bold;
	}
    </style>
{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
      <a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
      &rsaquo; <a href="{% url admin:app_list 'admissions' %}">{% trans 'Admissions' %}</a>
      &rsaquo; <a href="../">{% trans 'Reports' %}</a>
      &rsaquo; Funnel
    </div>
{% endblock %}

{% block content %}
<h2> Admissions Funnel for year{{ years|pluralize }} {% for year in years %} {{ year }} {% endfor %} </h2>
<br/>
{% for level in levels %}
    <div class="{{ level.css_class }} box">
	<div class="level">
	    {{ level }}: {{ level.students }} Student{{ level.students|pluralize }} &nbsp; &nbsp; &nbsp;
	    {{ level.female }} Female{{ level.female|pluralize }} ({{level.female_p|percentage }}) &nbsp; &nbsp; &nbsp;
	    {{ level.male }} Male{{ level.male|pluralize }} ({{ level.male_p|percentage }}) 
	</div>
	<table style="margin-left: auto;margin-right: auto;">
	    <tr>
	    {% for decision in level.decisions %}
		{% if forloop.counter0|divisibleby:3 %}
	    </tr><tr>
		{% endif %}
		<td style="border: 0;">
		    {{ decision }}: {{ decision.students }} Student{{ decision.students|pluralize }} <br/>
		    {{ decision.female }} F = {{decision.female_p|percentage }} of female prospects <br/>
		    {{ decision.male }} M = {{ decision.male_p|percentage }} of male prospects <br/>
		</td>
	    {% endfor %}
	    </tr>
	</table>
    </div>
    <br/>
{% endfor %}

{% endblock %}