{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
      <a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}
      &rsaquo; <a href="{% url admin:app_list 'admissions' %}">{% trans 'Admissions' %}</a>
      &rsaquo; {{ test }} Reports
    </div>
{% endblock %}

{% block content %}
<h2> Admission Reports </h2>
<form action="" method="post">
    <fieldset class="module">
	<div class="row">
	    <legend>Pre-made Reports </legend>
	    {{ report_form }}
	    <input type="submit" name="process_statistics" value="Process Statistics (xls)"/>
	    <input type="submit" name="applicants_to_students" value="Create students from applicants"/>
	</div>
    </fieldset>
</form>


<br/>
{% endblock %}

