{% extends "base.html" %}

{% block css %}
	textarea {
		width:100%;
		height:50px;
	}
	input[type=text] {
		width:300px;
	}
{% endblock %}

{% block content %}
	<h1 style="text-align:center;"> Contract for {{ company }} </h1>
	<br/>
	<div class="contract">
		<form action="." method="post">
			{{ form.non_field_errors }}
			<h2>Payment Schedule</h2>
			<table>
				<tr>
					<th>Payment Option</th>
					<th>Details</th>
				</tr>
				{% for payment in payment_options %}
				<tr>
					<td style="min-width:350px;"> 
						<input type="radio" id="id_payment_0" value="{{ payment.id }}" name="payment"> {{ payment.name }} $ {{ payment.cost }}
					</td><td>
						{{ payment.details}}
					</td>
				</tr>
				{% endfor %}
			</table>{{ form.payment.errors }}
			<br/>
			<br/>
			
			<h2>Student Worker(s) Functional Responsibilities</h2>
			<table style="width:99%;"><tr>
			{% for responsibility in form.student_functional_responsibilities %}
				<td nowrap>{{ responsibility }}</td>
			{% endfor %}
			{{ form.student_functional_responsibilities.errors }}
			</tr></table>
			<br/>
			Other? <br/> {{ form.student_functional_responsibilities_other }} {{ form.student_functional_responsibilities_other.errors }}
			<br/>
			<h2>Work Study Student's Desired Skills</h2>
			<br/>
			<table style="width:99%;"><tr>
				{% for skill in form.student_desired_skills %}
					<td nowrap>{{ skill }}</td>
				{% endfor %}
			</tr></table>
			{{ form.student_desired_skills.errors }}
			<br/>
			Other? <br/> {{ form.student_desired_skills_other }} {{ form.student_desired_skills_other.errors }}
			
			<br/>
			<br/>
			Will Student Worker(s) be allowed to leave work at any time? {{ form.student_leave }} {{ form.student_leave.errors }}
			<br/>
			
			<table style="width:100%">
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td style="vertical-align:top"> If yes, Student Worker will leave for: </td>
					<td>
						{{ form.student_leave_lunch }} {{ form.student_leave_lunch.label }} {{ form.student_leave_lunch.errors }}
						<br/>
						{{ form.student_leave_errands }} {{ form.student_leave_errands.label }} {{ form.student_leave_errands.errors }}
						<br/>
						{{ form.student_leave_other.label }} <br/> {{ form.student_leave_other }} {{ form.student_leave_other.errors }}
					</td>
				</tr>
			</table>
			
			Client agrees to provide the students any applicable instructions regarding company rules, regulations or policies, including any applicable safety instructions.
			<br/><br/>
			<input type="submit" value="Next" style="width:150px;"/>
		</form>
	</div>
{% endblock %}

