{% extends "base.html" %}

{% block content %}
	<h1>Submitted Time Cards</h1>
        <div class="subhead-text">
	    View past time cards and edit time cards that have not yet been approved.
	</div>
	
	<table class="submitted-timecards">
	<tbody>

	    <tr>
		<th class="submitted-date">Date</th>
		<th class="submitted-company">Company</th>
		<th class="submitted-hours">Hours</th>
		<th class="submitted-approved">Approved</th>
		<th class="submitted-pay">For Pay?</th>
		<th class="submitted-makeup">Make Up?</th>
		<th class="submitted-edit"></th>
	    </tr>

            {% for timesheet in timeSheets %}
               <tr class="submitted-row{% cycle '1' '2' %}">
                   <td> {{ timesheet.date }} </td>
		   <td> {{ timesheet.company }} </td>
                   <td> {{ timesheet.hours }} </td>
		   <td> {{ timesheet.approved|yesno }} </td>
                   <td> {{ timesheet.for_pay|yesno }} </td>
                   <td> {{ timesheet.make_up|yesno }} </td>
		   {% if timesheet.approved %}
			<td> </td>
		   {% else %}
			<td> <span class="submitted-edit-icon"> <a href="{% url "ecwsp.work_study.views.student_edit" timesheet.id %}"> </a></span></td>
		   {% endif %}
                </tr>
            {% endfor %}
        </table>
      
{% endblock %}

