{% extends "base.html" %}



{% block css %}
	tr:nth-child(odd)    { background-color:#eee; }
	tr:nth-child(even)    { background-color:#fff; }
	
	table.border{
		width: 100%; 
		margin:auto; 
		border-collapse: collapse;
		border: 3px solid #666666; 
	}
	td.border {
		padding: 2px;
		padding-left: 6px;
		border: 2px solid #666666;
	}
	td.right {
		width: 176px; 
	}	

	a {
		color: #339;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
{% endblock %}

{% block content %}
	<h2> View Approved Time Cards </h2>
        <a href="{% url "ecwsp.work_study.views.supervisor_xls" %}">Download Details as Excel Spreadsheet (.xlsx)</a> <span style="font-style: italic;">This is not an official bill and is meant for your convenience only.</span>
        <table class="border">
            <tr>
                <th>Student Name</th>
                <th>Date</th>
                <th>Hours</th>
                <th>For Pay?</th>
                <th>Make Up?</th>
            </tr>
            {% for timesheet in timeSheets %}
               <tr>
                   <td class="border"> {{ timesheet.student }} </td>
                   <td class="border" style="text-align:center;"> {{ timesheet.date }} </td>
                   <td class="border" style="text-align:center;"> {{ timesheet.hours }} </td>
                   <td class="border" style="text-align:center;"> {{ timesheet.for_pay|yesno }} </td>
                   <td class="border" style="text-align:center;"> {{ timesheet.make_up|yesno }} </td>
                </tr>
            {% endfor %}
        </table>
      
{% endblock %}

