{% extends "admin_base.html" %}
{% load staticfiles %}
{# {% extends "base_next.html" %} #}


{% block nav_page_specific %}
  <div id="mm-page-specific" role="navigation">
    {% if dashboard %}
      <a class="mm-customize-dashboard" href="javascript:void(0)" onclick="customize_dashboard(this);">
        Customize Dashboard<i class="fa fa-cog fa-lg"></i>
      </a>
    {% endif %}
  </div>
{% endblock %}


{% block content %}
    {% include "responsive_dashboard:responsive_dashboard/dashboard.html" %}
{% endblock %}
