@charset "UTF-8";
/*
* Gumby Framework Version 2.0
* ---------------------------
* Follow @gumbycss on twitter and spread the love.
* We worked super hard on making this awesome and released it to the web.
* All we ask is you leave this intact. #gumbyisawesome
*
* http://www.gumbyframework.com/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.625em; }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background: white; font-family: "Open Sans"; font-weight: 400; color: #555555; position: relative; -webkit-font-smoothing: antialiased; }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

html, body { height: 100%; }

.ie9 { font-family: "Open Sans"; }
.ie9 * { font-family: "Open Sans"; }

.hide { display: none; }

.hide.active, .show { display: block; }

.fixed { position: fixed; }
@media only screen and (max-width: 768px) { .fixed { position: relative !important; } }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/*=================================================
 +++ LE GRID +++ A Responsive Grid -- Gumby defaults to a standard 960 grid, but you can change it to whatever you'd like.
 ==================================================*/
/*.container { padding: 0px $gutter-in-px;
}*/
.row { width: 100%; max-width: 940px; min-width: 320px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .row { padding: 0 20px; } }
.row .row { min-width: 0px; }
@media only screen and (max-width: 960px) { .row .row { padding: 0; } }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.12766%; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0px; }

.column.omega, .columns.omega { float: right; }

/* Column Classes */
.row .one.column { width: 6.38298%; }
.row .one.columns { width: 6.38298%; }
.row .two.columns { width: 14.89362%; }
.row .three.columns { width: 23.40426%; }
.row .four.columns { width: 31.91489%; }
.row .five.columns { width: 40.42553%; }
.row .six.columns { width: 48.93617%; }
.row .seven.columns { width: 57.44681%; }
.row .eight.columns { width: 65.95745%; }
.row .nine.columns { width: 74.46809%; }
.row .ten.columns { width: 82.97872%; }
.row .eleven.columns { width: 91.48936%; }
.row .twelve.columns { width: 100%; }

/* Push Classes */
.row .push_one { margin-left: 10.6383%; }
.row .push_one:first-child { margin-left: 8.51064%; }
.row .push_two { margin-left: 19.14894%; }
.row .push_two:first-child { margin-left: 17.02128%; }
.row .push_three { margin-left: 27.65957%; }
.row .push_three:first-child { margin-left: 25.53191%; }
.row .push_four { margin-left: 36.17021%; }
.row .push_four:first-child { margin-left: 34.04255%; }
.row .push_five { margin-left: 44.68085%; }
.row .push_five:first-child { margin-left: 42.55319%; }
.row .push_six { margin-left: 53.19149%; }
.row .push_six:first-child { margin-left: 51.06383%; }
.row .push_seven { margin-left: 61.70213%; }
.row .push_seven:first-child { margin-left: 59.57447%; }
.row .push_eight { margin-left: 70.21277%; }
.row .push_eight:first-child { margin-left: 68.08511%; }
.row .push_nine { margin-left: 78.7234%; }
.row .push_nine:first-child { margin-left: 76.59574%; }
.row .push_ten { margin-left: 87.23404%; }
.row .push_ten:first-child { margin-left: 85.10638%; }
.row .push_eleven { margin-left: 95.74468%; }
.row .push_eleven:first-child { margin-left: 93.61702%; }

/* Centered Classes */
.row .one.centered { margin-left: 46.80851%; }
.row .two.centered { margin-left: 42.55319%; }
.row .three.centered { margin-left: 38.29787%; }
.row .four.centered { margin-left: 34.04255%; }
.row .five.centered { margin-left: 29.78723%; }
.row .six.centered { margin-left: 25.53191%; }
.row .seven.centered { margin-left: 21.2766%; }
.row .eight.centered { margin-left: 17.02128%; }
.row .nine.centered { margin-left: 12.76596%; }
.row .ten.centered { margin-left: 8.51064%; }
.row .eleven.centered { margin-left: 4.25532%; }

/* Hybrid Grid Columns */
.sixteen.colgrid .row .one.column { width: 4.25532%; }
.sixteen.colgrid .row .one.columns { width: 4.25532%; }
.sixteen.colgrid .row .two.columns { width: 10.6383%; }
.sixteen.colgrid .row .three.columns { width: 17.02128%; }
.sixteen.colgrid .row .four.columns { width: 23.40426%; }
.sixteen.colgrid .row .five.columns { width: 29.78723%; }
.sixteen.colgrid .row .six.columns { width: 36.17021%; }
.sixteen.colgrid .row .seven.columns { width: 42.55319%; }
.sixteen.colgrid .row .eight.columns { width: 48.93617%; }
.sixteen.colgrid .row .nine.columns { width: 55.31915%; }
.sixteen.colgrid .row .ten.columns { width: 61.70213%; }
.sixteen.colgrid .row .eleven.columns { width: 68.08511%; }
.sixteen.colgrid .row .twelve.columns { width: 74.46809%; }
.sixteen.colgrid .row .thirteen.columns { width: 80.85106%; }
.sixteen.colgrid .row .fourteen.columns { width: 87.23404%; }
.sixteen.colgrid .row .fifteen.columns { width: 93.61702%; }
.sixteen.colgrid .row .sixteen.columns { width: 100%; }

/* Hybrid Push Classes */
.sixteen.colgrid .row .push_one { margin-left: 8.51064%; }
.sixteen.colgrid .row .push_one:first-child { margin-left: 6.38298%; }
.sixteen.colgrid .row .push_two { margin-left: 14.89362%; }
.sixteen.colgrid .row .push_two:first-child { margin-left: 12.76596%; }
.sixteen.colgrid .row .push_three { margin-left: 21.2766%; }
.sixteen.colgrid .row .push_three:first-child { margin-left: 19.14894%; }
.sixteen.colgrid .row .push_four { margin-left: 27.65957%; }
.sixteen.colgrid .row .push_four:first-child { margin-left: 25.53191%; }
.sixteen.colgrid .row .push_five { margin-left: 34.04255%; }
.sixteen.colgrid .row .push_five:first-child { margin-left: 31.91489%; }
.sixteen.colgrid .row .push_six { margin-left: 40.42553%; }
.sixteen.colgrid .row .push_six:first-child { margin-left: 38.29787%; }
.sixteen.colgrid .row .push_seven { margin-left: 46.80851%; }
.sixteen.colgrid .row .push_seven:first-child { margin-left: 44.68085%; }
.sixteen.colgrid .row .push_eight { margin-left: 53.19149%; }
.sixteen.colgrid .row .push_eight:first-child { margin-left: 51.06383%; }
.sixteen.colgrid .row .push_nine { margin-left: 59.57447%; }
.sixteen.colgrid .row .push_nine:first-child { margin-left: 57.44681%; }
.sixteen.colgrid .row .push_ten { margin-left: 65.95745%; }
.sixteen.colgrid .row .push_ten:first-child { margin-left: 63.82979%; }
.sixteen.colgrid .row .push_eleven { margin-left: 72.34043%; }
.sixteen.colgrid .row .push_eleven:first-child { margin-left: 70.21277%; }
.sixteen.colgrid .row .push_twelve { margin-left: 78.7234%; }
.sixteen.colgrid .row .push_twelve:first-child { margin-left: 76.59574%; }
.sixteen.colgrid .row .push_thirteen { margin-left: 85.10638%; }
.sixteen.colgrid .row .push_thirteen:first-child { margin-left: 82.97872%; }
.sixteen.colgrid .row .push_fourteen { margin-left: 91.48936%; }
.sixteen.colgrid .row .push_fourteen:first-child { margin-left: 89.3617%; }
.sixteen.colgrid .row .push_fifteen { margin-left: 97.87234%; }
.sixteen.colgrid .row .push_fifteen:first-child { margin-left: 95.74468%; }

/* Hybrid Centered Classes */
.sixteen.colgrid .row .one.centered { margin-left: 47.87234%; }
.sixteen.colgrid .row .two.centered { margin-left: 44.68085%; }
.sixteen.colgrid .row .three.centered { margin-left: 41.48936%; }
.sixteen.colgrid .row .four.centered { margin-left: 38.29787%; }
.sixteen.colgrid .row .five.centered { margin-left: 35.10638%; }
.sixteen.colgrid .row .six.centered { margin-left: 31.91489%; }
.sixteen.colgrid .row .seven.centered { margin-left: 28.7234%; }
.sixteen.colgrid .row .eight.centered { margin-left: 25.53191%; }
.sixteen.colgrid .row .nine.centered { margin-left: 22.34043%; }
.sixteen.colgrid .row .ten.centered { margin-left: 19.14894%; }
.sixteen.colgrid .row .eleven.centered { margin-left: 15.95745%; }
.sixteen.colgrid .row .twelve.centered { margin-left: 12.76596%; }
.sixteen.colgrid .row .thirteen.centered { margin-left: 9.57447%; }
.sixteen.colgrid .row .fourteen.centered { margin-left: 6.38298%; }
.sixteen.colgrid .row .fifteen.centered { margin-left: 3.19149%; }

.pull_right { float: right; }

.pull_left { float: left; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none !important; }

/* Tile Grid */
.tiles { display: block; overflow: hidden; }
.tiles > li { display: block; height: auto; float: left; padding-bottom: 0; }
.tiles.two_up { margin-left: -4%; }
.tiles.two_up > li { margin-left: 4%; width: 46%; }
.tiles.three_up, .tiles.four_up { margin-left: -2%; }
.tiles.three_up > li { margin-left: 2%; width: 31.3%; }
.tiles.four_up > li { margin-left: 2%; width: 23%; }
.tiles.five_up { margin-left: -1.5%; }
.tiles.five_up > li { margin-left: 1.5%; width: 18.5%; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

.valign { display: table; width: 100%; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign ​ > article { display: table-cell; vertical-align: middle; }

/* Mobile */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"] { margin-left: 0 !important; } }
/*=====================================================
 Navigation (with dropdowns)
 ======================================================*/
.navbar { width: 100%; min-height: 60px; display: block; margin-bottom: 20px; background: #4a4d50; }
@media only screen and (max-width: 767px) { .navbar { position: relative; border: none; }
  .navbar .column, .navbar .columns { min-height: 0; } }
.navbar.fixed { top: 0; left: 0; z-index: 99999; }
.navbar a.toggle { display: none; }
@media only screen and (max-width: 767px) { .navbar a.toggle { top: 18%; right: 4%; width: 46px; position: absolute; text-align: center; display: inline-block; color: white; background: #4a4d50; height: 40px; line-height: 38px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-size: 30px; font-size: 1.875rem; }
  .navbar a.toggle:hover { background: #565a5d; }
  .navbar a.toggle:active, .navbar a.toggle.active { background: #3e4043; } }
.navbar .logo { display: inline-block; margin: 0 2.12766% 0 0; padding: 0; height: 60px; line-height: 58px; }
.navbar .logo a { display: block; padding: 0 0 0 16px; overflow: hidden; height: 60px; line-height: 58px; }
@media only screen and (max-width: 767px) { .navbar .logo { float: left; display: inline; }
  .navbar .logo a { padding: 0; }
  .navbar .logo a img { width: auto; height: auto; max-width: 100%; } }
.navbar ul { display: table; vertical-align: middle; margin: 0; float: none; }
@media only screen and (max-width: 767px) { .navbar ul { position: absolute; display: block; width: 100% !important; height: 0; max-height: 0; top: 60px; left: 0; overflow: hidden; text-align: center; background: #3e4043; }
  .navbar ul.active { height: auto; max-height: 600px; z-index: 999999; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-box-shadow: 0 2px 2px #252728; -moz-box-shadow: 0 2px 2px #252728; box-shadow: 0 2px 2px #252728; } }
.navbar ul li { display: table-cell; text-align: center; padding-bottom: 0; margin: 0; height: 60px; line-height: 58px; }
@media only screen and (max-width: 767px) { .navbar ul li { display: block; position: relative; min-height: 50px; max-height: 320px; height: auto; width: 100%; border-right: 0 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; } }
.navbar ul li > a { display: block; padding: 0 16px; white-space: nowrap; color: white; text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b; height: 60px; line-height: 58px; font-size: 16px; font-size: 1rem; }
.navbar ul li .btn { border-color: #000101 !important; }
.navbar ul li.field { margin-bottom: 0 !important; margin-right: 0; }
@media only screen and (max-width: 767px) { .navbar ul li.field { padding: 0 20px; } }
.navbar ul li.field input.search { background: #191a1b; border: none; color: #f2f2f2; }
.navbar ul li .dropdown { width: auto; min-width: 0px; max-width: 320px; height: 0; position: absolute; background: #fafafa; overflow: hidden; z-index: 999; }
@media only screen and (max-width: 767px) { .navbar ul li .dropdown { width: 100%; max-width: 100%; position: relative; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  .navbar ul li.active .dropdown { border-bottom: 1px solid #313436; }
  .navbar ul li.active .dropdown ul { position: relative; top: 0; background: #36393b; min-height: 50px; max-height: 250px; height: auto; overflow: auto; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  .navbar ul li.active .dropdown ul li { min-height: 50px; border-bottom: #3e4043; }
  .navbar ul li.active .dropdown ul li a { color: white; border-bottom: 1px solid #313436; }
  .navbar ul li.active .dropdown ul li a:hover { color: #d04526; } }
@media only screen and (min-width: 768px) and (max-width: 939px) { .navbar > ul > li > .btn a { padding: 0 10px 0 10px !important; }
  .navbar ul > li .dropdown ul li.active .dropdown { left: -320px; } }

/**** Navbar positioning for Microsoft's browser who deserves not to be mentioned ****/
.ie7 .navbar > ul { width: auto; }

.ie7 .navbar, .ie7 .navbar > ul > li > a { display: block; }

.ie7 .navbar .logo, .ie7 .navbar ul, .ie7 .navbar ul li { float: left; display: inline-block; }

.ie7 .navbar .logo a { display: block; overflow: hidden; }

.ie7 .navbar > ul > li .field { display: block; padding: 12px 18px 0; width: 80%; }

.pretty.navbar { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8085), color-stop(100%, #313436)); background-image: -webkit-linear-gradient(#7b8085, #313436); background-image: -moz-linear-gradient(#7b8085, #313436); background-image: -o-linear-gradient(#7b8085, #313436); background-image: linear-gradient(#7b8085, #313436); -webkit-box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; -moz-box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; /* Remove this line if you dont want a dropshadow on your navigation*/ }
@media only screen and (max-width: 767px) { .pretty.navbar a.toggle { border: 1px solid #3e4043; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8085), color-stop(100%, #4a4d50)); background-image: -webkit-linear-gradient(#7b8085, #4a4d50); background-image: -moz-linear-gradient(#7b8085, #4a4d50); background-image: -o-linear-gradient(#7b8085, #4a4d50); background-image: linear-gradient(#7b8085, #4a4d50); -webkit-box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; -moz-box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; }
  .pretty.navbar a.toggle i { text-shadow: 0 1px 1px #191a1b; }
  .pretty.navbar a.toggle:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888d91), color-stop(100%, #565a5d)); background-image: -webkit-linear-gradient(#888d91, #565a5d); background-image: -moz-linear-gradient(#888d91, #565a5d); background-image: -o-linear-gradient(#888d91, #565a5d); background-image: linear-gradient(#888d91, #565a5d); }
  .pretty.navbar a.toggle:active, .pretty.navbar a.toggle.active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e4043), color-stop(100%, #4a4d50)); background-image: -webkit-linear-gradient(#3e4043, #4a4d50); background-image: -moz-linear-gradient(#3e4043, #4a4d50); background-image: -o-linear-gradient(#3e4043, #4a4d50); background-image: linear-gradient(#3e4043, #4a4d50); -webkit-box-shadow: 0 1px 1px #63676a; -moz-box-shadow: 0 1px 1px #63676a; box-shadow: 0 1px 1px #63676a; } }
.pretty.navbar.row { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
@media only screen and (max-width: 767px) { .pretty.navbar.row { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; } }
.pretty.navbar ul li.field input.search { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #191a1b), color-stop(100%, #4f5255)); background-image: -webkit-linear-gradient(#191a1b, #4f5255); background-image: -moz-linear-gradient(#191a1b, #4f5255); background-image: -o-linear-gradient(#191a1b, #4f5255); background-image: linear-gradient(#191a1b, #4f5255); border: none; -webkit-box-shadow: 0 1px 2px #888d91 !important; -moz-box-shadow: 0 1px 2px #888d91 !important; box-shadow: 0 1px 2px #888d91 !important; /* Remove this line if you dont want a dropshadow on your navigation*/ }
.pretty.navbar > ul > li:first-child, .pretty.navbar .pretty.navbar > ul > li:first-child a:hover { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.navbar li .dropdown ul { margin: 0; display: block; }
.navbar li .dropdown ul > li { position: relative; display: block; width: 100%; float: left; text-align: left; height: auto; -webkit-border-radius: none; -moz-border-radius: none; -ms-border-radius: none; -o-border-radius: none; border-radius: none; }
@media only screen and (min-width: 768px) and (max-width: 939px) { .navbar li .dropdown ul > li { max-width: 320px; word-wrap: break-word; } }
.navbar li .dropdown ul > li a { display: block; padding: 0 20px; color: #d04526; border-bottom: 1px solid #cccccc; text-shadow: none; height: 51px; line-height: 49px; }
@media only screen and (max-width: 767px) { .navbar li .dropdown ul > li a { padding: 0 20px; } }
.navbar li .dropdown ul > li .dropdown { display: none; background: white; }
.navbar li .dropdown ul li:first-child a { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.no-touch .navbar ul li:hover > a { position: relative; background: #868d92; z-index: 1000; }

.no-touch .navbar ul li:hover .dropdown, .touch .navbar ul li.active .dropdown { min-height: 50px; max-height: 561px; overflow: visible; height: auto; width: 100%; padding: 0; border-top: 1px solid #3e4043; -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }

.no-touch .navbar ul li:hover .dropdown ul { position: relative; top: 0; min-height: 50px; max-height: 250px; height: auto; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; min-height: 50px; max-height: 250px; height: auto; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
.no-touch .navbar ul li:hover .dropdown ul li { min-height: 50px; }
@media only screen and (max-width: 767px) { .no-touch .navbar ul li:hover .dropdown ul { overflow: auto; background: #36393b; }
  .no-touch .navbar ul li:hover .dropdown ul li { border-bottom: #3e4043; }
  .no-touch .navbar ul li:hover .dropdown ul li a { color: white; border-bottom: 1px solid #313436; }
  .no-touch .navbar ul li:hover .dropdown ul li a:hover { color: #d04526; } }
.no-touch .navbar ul li:hover .dropdown ul li { min-height: 50px; }

.no-touch .navbar li .dropdown ul > li:hover .dropdown, .touch .navbar li .dropdown ul > li.active .dropdown { border-top: none; display: block; position: absolute; z-index: 9999; left: 100%; top: 0px; margin-top: 0; }
@media only screen and (max-width: 767px) { .no-touch .navbar li .dropdown ul > li:hover .dropdown, .touch .navbar li .dropdown ul > li.active .dropdown { position: relative; left: 0; }
  .no-touch .navbar li .dropdown ul > li:hover .dropdown ul, .touch .navbar li .dropdown ul > li.active .dropdown ul { background: #252728 !important; } }

.no-touch .navbar li .dropdown ul li a:hover { background: #f2f2f2; }

.touch .navbar a:hover { color: white !important; }

.subnav { display: block; width: auto; overflow: hidden; margin: 0 0 18px 0; padding-top: 4px; }
.subnav li, .subnav dt, .subnav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }
.subnav li:first-child, .subnav dt:first-child, .subnav dd:first-child { margin-left: 0; }
.subnav dt { color: #999; font-weight: normal; }
.subnav li a, .subnav dd a { color: #05390a; font-size: 15px; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.subnav li.active a, .subnav dd.active a { background: #5dbb73; padding: 5px 9px; text-shadow: 0 1px 1px #77d58e; }

.drawer { position: relative; width: 100%; max-height: 0; background: #3e4144; -webkit-box-shadow: inset 0 -2px 5px #313436, inset 0 2px 5px #313436; -moz-box-shadow: inset 0 -2px 5px #313436, inset 0 2px 5px #313436; box-shadow: inset 0 -2px 5px #313436, inset 0 2px 5px #313436; overflow: hidden; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.drawer.active { height: auto; max-height: 800px; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }

.modal { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -999999; background: black; background: rgba(0, 0, 0, 0.8); }
.modal > .content { width: 50%; min-height: 50%; max-height: 65%; position: relative; top: 25%; margin: 0 auto; padding: 20px; background: white; z-index: 2; overflow: auto; }
@media only screen and (max-width: 768px) { .modal > .content { width: 80%; min-height: 80%; max-height: 80%; top: 10%; } }
@media only screen and (max-width: 767px) { .modal > .content { width: 92.5%; min-height: 92.5%; max-height: 92.5%; top: 3.75%; } }
.modal > .content > .close { position: absolute; top: 10px; right: 10px; cursor: pointer; }
.modal, .modal > .content { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.modal.active { z-index: 999999; }
.modal.active, .modal.active > .content { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
