{% spaceless %}
{% if custom_form.fields %}
    <div class="grp-group">
        <fieldset class="grp-module">
            <h2 class="collapse-handler">Custom Fields</h2>
            {% for field in custom_form %}
                <div class="grp-row grp-cells-1 {{ custom_form.prefix }}-{{ field.name }}">
                    <div class="column span-4">
                        {{ field.label_tag }}
                    </div>
                    <div class="column span-flexible">
                        {{ field }}
                    </div>  
                </div>
            {% endfor %}
        </fieldset>
    </div>
{% endif %}
{% endspaceless %}
