{% extends "base.html" %}

{% block content %}

<h2> Volunteer Dashboard </h2>
<fieldset>
    <legend>Student: {{ student }} </legend>
    Work Site: {{ student.site }} ({{ student.site_approval }})<br/>
    Supervisor: {{ student.site_supervisor }} <a href="{% url ecwsp.volunteer_track.views.change_supervisor %}">Change</a> (Requires approval)<br/>
    Hours Complete: {{ student.hours_completed }} <br/>
    Hours Required: {{ student.hours_required }} <br/>
    </fieldset>
<br/>

<a href="{% url ecwsp.volunteer_track.views.student_hours %}">Log Hours</a><br/>
<a href="{% url ecwsp.volunteer_track.views.student_site_approval %}">Change site</a> (Requires approval)

{% endblock %}
