{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    {{ formset.media }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.student_select').attr('disabled', 'disabled');

            {% if readonly %}
                $(".status").attr('disabled', 'disabled');
            {% endif %}
        })

        function set_to_present() {
	        var value = $('.status option:contains("Present")').val();
            $('.status').val(value);
        }
    </script>
{% endblock %}

{% block content %}
    <h2> Attendance for {{ course_section }} on {{ for_date }} </h2>
    <form method="post" action="" id="myform">
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        <a href="#" onclick="set_to_present()">Set all to Present</a>
	{{ msg|safe }}
        <div class='table'>
            <table>
                <tbody>
                    <tr>
                        <th>Student</th>
                        <th>Daily Attendance</th>
                        <th>Note</th>
                        <th>Course Section Attendance</th>
                        <th>Time in</th>
                        <th>Note</th>
                    </tr>
                    {% for form in formset %}
                        <tr>
                            <td>{{ form.student_name }}</td>
                            <td>{{ form.student_attendance }}</td>
                            <td>{{ form.student_attendance_note }}</td>
                            <td>{{ form.status }} {{ form.student }}</td>
                            <td>{{ form.time_in }}{{ form.time_in.errors }}</td>
                            <td>{{ form.notes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="submit" value="Submit"/>
    </form>
    <script type="text/javascript">
        document.getElementById("id_form-0-status" ).focus();
    </script>
{% endblock %}

