{% extends "base_next.html" %}
<!-- LOADING -->
{% load i18n admin_modify grp_tags %}

{% block nav_page_specific %}
<div id="mm-page-specific" role="navigation">
    <div class="breadcrumb">
        <ul>
          <li><a href="/admin">Home</a></li>
          <li><a href="/admin/attendance/studentattendance/">Student Attendance</a></li>
          <li>Attendance Submissions</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block title %}Today&rsquo;s Attendance Submissions{% endblock %}

{% block content %}


            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Course Section</th>
                    <th>Teacher</th>
                    <th>Submitted?</th>
                </tr>
              </thead>
              <tbody>
                {% for submission in submissions %}
                <tr>
                    <td>{{ submission.homeroom }}</td>
                    <td>{{ submission.teacher }}</td>
                    <td>
                     {{ submission.submitted }}
                     {% if submission.submitted_by %}
                      {% if submission.submitted_by != submission.teacher %}
                       , by {{ submission.submitted_by }}
                      {% endif %}
                     {% endif %}
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
     
{% endblock %}

