{% extends "admin/base_site.html" %}
<!-- LOADING -->
{% load i18n admin_modify grp_tags %}

{% block breadcrumbs %}
 <div id="breadcrumbs">
  <a href="/admin"> 
  Home
  </a> 
  &rsaquo; 
  <a href="/admin/attendance/studentattendance/"> 
   Student Attendance
  </a> 
  &rsaquo; Attendance Submissions
 </div> 
{% endblock %}

{% block content %}
	<h2> Today's Attendance Submissions </h2>
       <div class='table'>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Teacher</th>
                    <th>Submitted?</th>
                </tr>
                {% for submission in submissions %}
                <tr>
                    <td>{{ submission.homeroom }}</td>
                    <td>{{ submission.teacher }}</td>
                    <td>
		     {{ submission.submitted }}
		     {% if submission.submitted_by %}
		      {% if submission.submitted_by != submission.teacher %}
		       , by {{ submission.submitted_by }}
		      {% endif %}
		     {% endif %}
		    </td>
		    
                </tr>
                {% endfor %}
            </table>
        </div>
     
{% endblock %}

