{% extends "admin/base_site.html" %}
<!-- LOADING -->
{% load i18n admin_modify grp_tags %}

{% block breadcrumbs %}
<ul>
  <li><a href="/admin">Home</a></li>
  <li><a href="/admin/attendance/studentattendance/">Student Attendance</a></li>
  <li>Attendance Submissions</li>
</ul>
{% endblock %}

{% block content %}
	<h2> Today's Attendance Submissions </h2>
       <div class='table'>
            <table>
                <tr>
                    <th>Course Section</th>
                    <th>Teacher</th>
                    <th>Submitted?</th>
                </tr>
                {% for submission in submissions %}
                <tr>
                    <td>{{ submission.homeroom }}</td>
                    <td>{{ submission.teacher }}</td>
                    <td>
		     {{ submission.submitted }}
		     {% if submission.submitted_by %}
		      {% if submission.submitted_by != submission.teacher %}
		       , by {{ submission.submitted_by }}
		      {% endif %}
		     {% endif %}
		    </td>
		    
                </tr>
                {% endfor %}
            </table>
        </div>
     
{% endblock %}

