{% extends "admin/change_form.html" %}
{% load i18n admin_modify grp_tags %}
{% load url from future %}

{% block object-tools-items %}
    {% if has_add_permission %}
        {% if object_id %}
            {% if 'ecwsp.grades' in settings.INSTALLED_APPS %}
                <li><a href="{% url 'ecwsp.grades.views.teacher_grade_download' object_id %}" class="historylink"> Gradesheet Template </a></li>
                <li><a href="{% url 'course-section-grades' object_id %}" class="historylink"> Grades </a></li>
            {% endif %}
            <li><a href="/schedule/enroll/{{ object_id }}" class="historylink">Enroll Students</a></li>
        {% endif %}
        {{ block.super }}
    {% endif %}
{% endblock %}
