{% extends "admin/index.html" %}
{% load adminmedia admin_list i18n grp_tags %}

{% block extrahead %}
  {{ block.super }}
  <style type="text/css">
      .content-grid {
        min-width: 900px !important;
      }
  </style>
  <script type="text/javascript">
  grappelli.initFilter = function() {}
  </script>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">
    function filter_toggle() {
      $('.filter-pulldown').toggle();
    }
    
    function choose_question(id) {
      opener.dismissQuestionBankPopup(window, id);
    }
  </script>
{% endblock %}

{% block content %}
  <h2>Question Bank</h2>
  
  <div class="module changelist-filters">
    <!-- PAGINATION TOP -->
    <div class="module pagination"><ul class="pagination"><li class="results"><span> total</span></li></ul><br clear="all"></div>
    <!-- FILTERS -->
    <div id="filters" class="module filter span-6">
      <div class="pulldown-container" >
        <a href="javascript://" class="button toggle-filters" onclick="filter_toggle()">Filter</a>
        <div class="filter-pulldown" style="width: 342px;">
          <form action="" method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
          </form>
        </div>
      </div>
    </div>
    <!-- SEARCH -->
    <br clear="all">
  </div>
  

  <div class="module changelist-results">
    <table cellspacing="0"> 
      <thead> 
        <tr> 
          <th> Question </th>
          <th> Type </th>
          <th> Benchmarks </th>
          <th> Themes </th>
          <th> Answers </th>
        </tr>
      </thead> 
      <tbody>
        {% for obj in filter %}
          <tr class="{% if forloop.counter|divisibleby:2 %}row2{% else %}row1{% endif %}">
            <td> <a href="javascript://" onclick="choose_question({{ obj.id }});"> {{ obj }} </a> </td>
            <td> {{ obj.type }} </td>
            <td> {{ obj.benchmarks.count }} </td>
            <td> {{ obj.themes.count }} </td>
            <td> {{ obj.answer_set.count }} </td>
            <td> {{ obj.benchmarks.count }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}