{% extends "sis_base.html" %}
{% load i18n %}
{% load sis_extras %}

{% block javascripts %}
{{ block.super }}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/css/grappelli_lite.css"/> 
{% endblock %}

{% block nav %}
<nav class="navbar" id="nav1" gumby-fixed="top">
  <div class="sixteen colgrid">
    {% include "gumby/nav.html" %}
    <div class="breadcrumbs">
    <div id="breadcrumbs_area" class="row">
      <div class="sixteen columns">
      {% block breadcrumbs %}
        <a href="/">{% trans 'Home' %}</a>
        
      {% endblock %}
      </div>
    </div>
    </div>
  </div>
</nav>
{% endblock %}

