<!DOCTYPE html>
<html lang="en">
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
	<title>Student Worker Relational Database - {{ school_name }} </title>
        <!--[if lte IE 9]>
            <script src="/static/js/html5.js"></script>
            <style type="text/css">
                .clear {
                  zoom: 1;
                  display: block;
                }
                
                li {
                        float: left;
                }
                ul a{
                        padding-right: 32px;
                        padding-left: 32px;
                }
            </style>
        <![endif]-->
        
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <style type="text/css">
            {% block css %}{% endblock %}
        </style>
	{% block head %}{% endblock %}
    </head>
    <body>
    <section id="page">
        <header>
            <a href="/"><img src="{{ header_image }}"/></a>
            <nav class="clear">
                <ul>
                    {% if supervisor %}
                        <li><a href="{% url ecwsp.work_study.views.supervisor_dash %}">Supervisor Dashboard</a></li>
                        <li><a href="/accounts/password_change">Change Password</a></li>
                    {% endif %}
                    {% if student %}
                        {% if "ecwsp.work_study" in settings.INSTALLED_APPS %}
                            <li><a href="{% url ecwsp.work_study.views.student_view %}">Submitted Cards</a></li>
                            <li><a href="/">Create Time Card</a></li>
                        {% endif %}
                        {% if "ecwsp.volunteer_track" in settings.INSTALLED_APPS %}
                            <li><a href="{% url ecwsp.volunteer_track.views.student_dash %}">Volunteer</a></li>
                        {% endif %}
                        {% if "ecwsp.benchmark_grade" in settings.INSTALLED_APPS %}
                            <li><a href="{% url ecwsp.benchmark_grade.views.student_grade %}">Grades</a></li>
                        {% endif %}
                        <li><a href="/accounts/password_change">Change Password</a></li>
                    {% endif %}
                    {% block nav %}
                    {% endblock %}
                    {% if not next %}
                    <li><a href="{% url ecwsp.sis.views.logout_view %}">Log Out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <br/>
        {{ msg }}
        {% if msg == "You have been logged out." %}
                <a href="/">Click here to log in again.</a>
        {% endif %}
        {% for e in exceptions %}
                <br/>
                {{ e }}
        {% endfor %}
        {% block content %}{% endblock %}
        <br/><br/>
            <footer>
                <div class="line"></div>
                 <!--[if IE 7]>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                 <![endif]-->
                Copyright 2010-2012 <a href="http://burkesoftware.com">Burke Software and Consulting LLC</a>. This site is for authorized use only. 
                <br/>
                Powered by <a href="http://code.google.com/p/student-worker-relational-database/">SWoRD, the open source Student WOrker Relational Database.</a>
                <a href="http://www.djangoproject.com/"><img src="/static/images/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
            </footer>
	</section> 
    </body>
</html>
