{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" /> -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!--
	-->
  <script src="{% static 'bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
	<script src="{% static 'js/nav.js' %}"></script>

	{% include 'autocomplete_light/static.html' %}
	<script type="text/javascript">
	  var csrf_token = '{{ csrf_token|escapejs }}'
	  var STATIC_URL = '{{ STATIC_URL }}'
	</script>

	{% compress css %}
	  <link type="text/x-scss" href="{% static 'styles.scss' %}" rel="stylesheet" charset="utf-8" />
	{% endcompress %}
	
	{% block extra_head %}{% endblock %}
  {% endblock %}
  
  {% block angular_app %}
  {% endblock %}

  {% if GOOGLE_ANALYTICS %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', '{{ GOOGLE_ANALYTICS }}', 'auto');
	  ga('send', 'pageview');
	</script>
  {% endif %}
</head>

<body>

{% block body %}

{% block nav %}
  {% include "nav.html" %}
{% endblock %}

{% block content_full %}
    <div class="container-fluid full-height">
      <div class="row">
        <div class="col-xs-12 main">
          <h1>{% block title %}{% endblock %}</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
{% endblock %}
</body>
</html>
