{% load dajaxice_templatetags compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <!--<![endif]-->
  <head>
  {% block head %}
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>Schooldriver</title>
      
      {% include "partials/favicons-etc.html" %}

      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static "css/ui.core.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "css/cupertino/jquery-ui-1.10.3.custom.min.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "css/jquery.multiselect.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "css/jquery.multiselect.filter.css" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "jquery.uix.multiselect/jquery.uix.multiselect.css" %}"/>
      <link rel="stylesheet" media="print" type="text/css" href="{% static "css/print.css" %}"/>
    {% endblock stylesheets %}

      {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/_nav.scss' %}" rel="stylesheet" charset="utf-8" />
      {% endcompress %}

    {% block javascripts %}
      {% dajaxice_js_import %}

      <!--[if IE]>
        <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
      <![endif]-->
      <!--[if !IE]-->
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
      <!--[endif]-->
      <script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-migrate/jquery-migrate.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
      <script type="text/javascript" src="{% static "js/jquery.multiselect.js" %}"></script>
      <script type="text/javascript" src="{% static "js/jquery.multiselect.filter.js" %}"></script>
      <script src="{% static 'js/nav.js' %}"></script>
      {% include 'autocomplete_light/static.html' %}
      <script>
        $.fn.simple_multiselect = $.fn.multiselect;
        delete $.fn.multiselect;
      </script>
    {% endblock javascripts %}
    
      {% include "gumby/head.html" %}

      {% include "partials/analytics.html" %}
    
  {% endblock head %}

  {% block extrahead %}
  {% endblock extrahead %}
  </head>
<body>
  {% include "partials/outdated-browser.html" %}

  {% block nav %}
  {% endblock %}

  {% block nav_page_specific %}
  
  {% endblock %}

  {% block messages %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  {% endblock %}

  {% block bigcontent %}
    <div class="container row">
      {% block content %}
      {% endblock %}
    </div>
  {% endblock %}
  <script src="{% static "js/sis.init.js" %}"></script>
</body>
</html>
