{% extends "base_next.html" %}
{% load staticfiles compress %}

{% block extra_head %}
<!-- This is a temporary customization of google translate, google translate should go away altogether soon -->
    <meta name="google-translate-customization" content="37da49fcf8973ccb-756457446a3cca53-g28961e43a5d7f19a-28"></meta>
{% endblock %}

{% block head %}
{% block base_tag %}
    <base href="/">
{% endblock %}

{{ block.super }}
    <link rel="stylesheet" href="{% static 'handsontable/dist/handsontable.full.css' %}">
    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script src="{% static 'handsontable/dist/handsontable.full.js' %}"></script>
    <script src="{% static 'nghandsontable/dist/ngHandsontable.js' %}"></script>
    <script src="{% static 'app/gradebook.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container-fluid" ng-app="gradeBookApp">
    <div class="row" ng-view>
    </div>
</div>
{% endblock %}
