{% extends "admin/index.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul>
  <li><a href="/">{% trans 'Home' %}</a></li>
  {% if title %}<li>{{ title }}</li>{% endif %}
  <li>Upload</li>
</ul>
{% endblock %}

{% block content %}
    {{ msg|safe }}
	
	{% if error_filename %}
		<a href="/media/{{ error_filename }}" >Download non imported data with errors</a>
	{% endif %}
	
    
    {% if 'simple_import' in settings.INSTALLED_APPS %}
      <p>
	Try our new import tool! <a href="{% url "simple_import.views.start_import" %}">Click here</a>
      </p>
    {% endif %}
    
    <h3>Import Tool</h3>
    <dl>
        <dt>Tips</dt>
            <dd> - Look at <a href="https://sites.google.com/a/cristoreyny.org/sword-wiki/preparing-for-a-new-school-year/sampledata.xls?attredirects=0&d=1">sample data</a> first!</dd>
            <dd> - Sheet names, which usually appear as tabs at the bottom of a workbook, are important and must match the sample data.</dd>
            <dd> - Not all sheets are required; include only those where you've entered data.</dd>
			<dd> - File may be in ods, xls, or xlsx format.</dd>
            <dd> - Leave out data you don't wish to update! Most columns are optional. Blank cells will be ignored.</dd>
			<dd> - Extra columns are fine and will be ignored.</dd>
            <dd> - Use exact names of columns as seen in sample data.</dd>
            <dd> - Use formats found in sample data for best results, e.g. enter dates as YYYY-MM-DD.</dd>
			<dd> - A database backup is made on each import. If you break something contact your system administrator.</dd>
    </dl>
    <form action="" method="post" enctype="multipart/form-data">
		{{ form.as_p }}
		<input type="submit" name="import_student" value="Import File"/>
    </form>
{% endblock %}
