{% extends "admin/change_list.html" %}

<!-- LOADING -->
{% load adminmedia admin_list i18n grp_tags %}

<!-- OBJECT-TOOLS -->
{% block object-tools %}
    {% if has_add_permission %}
        <ul class="tools">
            <li>
                <a href="{% url ecwsp.work_study.views.dol_form %}" class="add-handler focus">Add DOL Form</a>
            </li>
            <li>
                <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="add-handler focus">
                    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}