{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript">
        $(document).ready(function() {
            grappelli.initDateAndTimePicker();
        });
    </script>
    
    <script type="text/javascript">
	function options_toggle(id) {
            /*id must follow convenction toggle_model_action
             Ex id = toggle_student_filter */
            if ($('#' + id.split("_")[1] + '_' + id.split("_")[2]).is(':visible')) {
                $('#' + id).html('Show ' + id.split("_").slice(-2) );
            } else {
                $('#' + id).html('Hide ' + id.split("_").slice(-2));
            }
            $('#' + id.split("_")[1] + '_' + id.split("_")[2]).toggle('fast');
        }
    </script>
{% endblock %}

{% block content_title %}
    <h1>School Reports</h1>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <fieldset style="padding:5px;">
	<legend> Template based report </legend>
	{{ form.non_field_errors  }}
	<table>
	    <tr>
	    <td>
		<a href="#" id="toggle_time_options" onclick='options_toggle(id)'>Show time options</a>
		<div id="time_options" style="display: none">
		    {{ form.this_year.label }} {{ form.this_year }} {{ form.this_year.errors }}
		    <br/> {{ form.all_years.label }} {{ form.all_years }} {{ form.all_years.errors }}
		    <br/> {{ form.date_begin.label }} {{ form.date_begin }} {{ form.date_begin.errors }}
		    <br/> {{ form.date_end.label }} {{ form.date_end }} {{ form.date_end.errors }}
		    <br/> {{ form.marking_period.label }} {{ form.marking_period }} {{ form.marking_period.errors }}
		    <br/> {{ form.schedule_days.label }} {{ form.schedule_days }} {{ form.schedule_days.errors }}
            {{ form.schedule_days.help_text }}
		</div>
	    </td></tr><tr><td>
		{{ form.include_deleted.label }} {{ form.include_deleted }} {{ form.include_deleted.errors }}
	    </td></tr><tr><td>
		<div>
		    {{ form.all_students.label }} {{ form.all_students }} {{ form.all_students.errors }}
		</div>
		<div>
		    {{ form.student.label }} {{ form.student }} {{ form.student.errors }}
		</div>
	    </td></tr><tr><td>
		<a href="#" id="toggle_filter_options" onclick='options_toggle(id)'>Show filter and sort options</a>
		<div id="filter_options" style="display: none">
		    {{ form.sort_by.label }}  {{ form.sort_by }} {{ form.sort_by.errors }}
		    <br/> {{ form.filter_year.label }}  {{ form.filter_year }} {{ form.filter_year.errors }}
		    <br/> {{ form.filter_cohort.label }}  {{ form.filter_cohort }} {{ form.filter_cohort.errors }}
		</div>
	    </td></tr><tr><td>
		<div>
		    {{ form.template.label }} {{ form.template }} {{ form.template.errors }}
		</div>
		<div>
		    {{ form.upload_template.label }} {{ form.upload_template }} {{ form.upload_template.help_text }} {{ form.upload_template.errors }}
		</div>
		
	    {{ form.format.label }} {{ form.format }} {{ form.format.errors }}
	    </td>
	    </tr>
	</table>
	<input type="submit" name="pod_report"/>
    </fieldset>
</form>
<br/>

<form action="" method="post">
    <fieldset style="padding:5px;">
	<legend>Pre-made Reports </legend>
	<table>
	    <tr>
		<td style="vertical-align: top;">
		    Thumbnails<br/>
		    <input class="preport" type="submit" name="thumbs_fresh" value="Freshman Thumbnails" /><br/>
		    <input class="preport" type="submit" name="thumbs_soph" value="Sophomore Thumbnails" /><br/>
		    <input class="preport" type="submit" name="thumbs_jun" value="Junior Thumbnails" /><br/>
		    <input class="preport" type="submit" name="thumbs_sen" value="Senior Thumbnails" />
		</td>
		<td style="vertical-align: top;">
		    Paper Attendance<br/>
		    <input class="preport" type="submit" name="p_attendance" value="Monday" /><br/>
		    <input class="preport" type="submit" name="p_attendance" value="Tuesday" /><br/>
		    <input class="preport" type="submit" name="p_attendance" value="Wednesday" /><br/>
		    <input class="preport" type="submit" name="p_attendance" value="Thursday" /><br/>
		    <input class="preport" type="submit" name="p_attendance" value="Friday" /><br/>
		</td>
	    </tr>
	</table>
    </fieldset>
	
</form>

<br/>
{% endblock %}

