{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script> 
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.autocomplete.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/iconic.css" />
    
	<script type="text/javascript" src="/admin/jsi18n/"></script>
    {{ formset.media }}
{% endblock %}

{% block content %}
	<h2> Select Course for Attendance </h2>
    {% for course in courses %}
        <a href="/sis/teacher_attendance/{{ type }}/{{ course.id }}">{{ course }}</a><br/> 
    {% endfor %}
{% endblock %}

