{% extends "responsive_dashboard/dashlet.html" %}

{% block dashlet_header %}
  <form id="form_view_student_dashlet" class="view_student" action="/sis/view_student/" method="post">
    {% if perms.sis.change_student %}
       <a href="{% url 'admin:sis_student_changelist' %}">Student Information</a>
    {% else %}
    {% endif %}
<!-- Below this comment is the fancy auto-complete search function - Jeff -->
    <!--br tag to separate search from student? see mockup-->
    <br>
    {% csrf_token %}
    <span class="field">
      <input class="input" type="text" placeholder="Search for student" name="view_student_dashlet_text" id="id_view_student_dashlet_text" style="width:15em" value="" maxlength="255" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
  </span>
    <input type="hidden" name="student" id="id_view_student_dashlet" value="">
    <div id="id_view_student_dashlet_on_deck" style="display: none;" class="results_on_deck"><div></div></div>
    <script>
        $('#id_view_student_dashlet_text').yourlabsAutocomplete({
            url: '/autocomplete/StudentLookupStudentAutocomplete/',
            choiceSelector: 'a',
            box: $('<span class="yourlabs-autocomplete autocomplete-lookup-student-dashlet"></span>'),
            fixPosition: function() {
              // Insert the autocomplete container after the input.
              var pos = $.extend({}, this.input.position(), {
                  height: this.input.outerHeight(),
                  width:  this.input.outerWidth()
              });

              this.input.parents().filter(function() {
                  return $(this).css('overflow') === 'hidden';
              }).first().css('overflow', 'visible');

              this.box.insertAfter(this.input).css(
                      {top: pos.top + pos.height, left: pos.left, "min-width": pos.width });
            }
        }).input.bind('selectChoice', function(e, choice, autocomplete) {
            $('#student-deck').show();
            $('#student-deck-name').text(choice.find(".student-name").text());
            $('#student-deck-year').text("Year: " + choice.find(".student-year").text());
            $('#student-deck-cohort').text("Cohort: " + choice.attr("data-cohort"));
            if (choice.find("#student-pic")) {
              $('#student-deck-year')
            }
            $('#student-deck-link').attr("href",choice.attr("href"));
        });
    </script>
  </form>
{% endblock %}

{% block dashlet_body %}
  <!-- Something to try: span the entire width w/ "Search for a student..." then split into parts when student has been searched.
      Make it look clean, like the mockup -->
  <div id="student-deck" style="display: none;">
    <div style="width:45%; float:left; text-align: left; margin-left:10px">
      <div id="student-deck-name"></div><div>
</div>

      <div id="student-deck-year"></div>
      <div id="student-deck-cohort"></div>
    </div>
     <div class="primary btn" style="float:right;  margin-right:15px; margin-top:15px;">
        <a id="student-deck-link" href="">View Info</a>
      </div>
  </div>
  <div style="clear:both;">
<a href="/sis/flashcard">Learn Student Names with Flashcards!</a>
</div>

{% endblock %}
