{% extends "responsive_dashboard/dashlet.html" %}

{% block dashlet_header %}
  <form id="form_view_student_dashlet" class="view_student" action="/sis/view_student/" method="post">
    {% if perms.sis.change_student %}
       <a href="{% url 'admin:sis_student_changelist' %}">Student Flashcard</a>
    {% else %}
      Student Flashcard
    {% endif %}
<!-- Below this comment is the fancy auto-complete search function - Jeff -->
    <!--br tag to separate search from student? see mockup-->
    <br>
    {% csrf_token %}
    <span class="field">
      <input class="input" type="text" placeholder="Search for student" name="view_student_dashlet_text" id="id_view_student_dashlet_text" style="width:15em" value="" maxlength="255" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
  </span>
    <input type="hidden" name="student" id="id_view_student_dashlet" value="">
    <div id="id_view_student_dashlet_on_deck" style="display: none;" class="results_on_deck"><div></div></div>
    <script type="text/javascript">//<![CDATA[
    jQuery(document).ready(function($){
        addAutoComplete("id_view_student_dashlet", function(html_id) {
            $("#"+html_id).autocompleteselect({
                minLength: 1,
                source: '/ajax_select/ajax_lookup/dstudent',
            });
        });
    $("#id_view_student_dashlet_on_deck").bind('added',function() {
      var pk = $('#id_view_student_dashlet').val();
      $.ajax({
       url: '/sis/ajax_view_student_dashlet/'+pk+'/',
      }).done(function ( data ) {
        $('#form_view_student_dashlet').parent().parent().html(data);
      });
    });
    });//]]>
    </script>
  </form>
{% endblock %}

{% block dashlet_body %}
  <!-- Something to try: span the entire width w/ "Search for a student..." then split into parts when student has been searched.
      Make it look clean, like the mockup -->
  <div>
   {% if not object %}
    <p>Search for a student to<br>get a photo and info</p>
   {% endif %}
  </div> 
  <div style="width: 55%; float:left;">
    <img style="width: 100%; max-width: 530px;" src="{{ student.pic.url_530x400 }}"/>
  </div>
  <div style="width:45%; float:left; text-align: left;">
   {% if object %}
   <!-- added left side padding to name/year -->
   <p style="padding-top: 1.75em; padding-left: .75em; padding-bottom: 1.75em;">
    Name: {{ object }}<br/>
    Year: {{ object.year }}<br/>
    Cohort: {{ object.primary_cohort }}<br/>
   </p>
   <div class="primary btn">
    <a href="{% url "ecwsp.sis.views.view_student" object.id %}">View Info</a>
   </div>
   {% endif %}
  </div>
{% endblock %}

{% block dashlet_footer %}
{% endblock %}
