{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    {% load adminmedia %}
    <script type="text/javascript" src="/static/grappelli/js/core.js"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"> 
<a href="/admin"> 
Home
</a> 
&rsaquo; 
<a href="/admin/sis/studentattendance/"> 
 Student Attendance
</a> 
&rsaquo; Attendance Reports</div> 
{% endblock %}

{% block content %}
    <h1>Attendance Reports</h1>
    <form action="" method="post" style="width:850px;">
        <fieldset>
            <legend>Students Reports</legend>
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" name="student" value="By Student Report" /><br/>
            <input type="submit" name="aggr" value="Aggregate Report" /><br/>
            <input type="submit" name="perfect_attendance" value="Perfect Attendance Certificates"/> (Total tardies and absenses 0) <br/>
            <input type="submit" name="attendance_daily_stat" value="Daily Attendance Stats"/><br/>
        </fieldset>
    </form>
    <br/><br/>
    <form action="" method="post" style="width:850px;">
        <fieldset>
            <legend>Daily Attendance</legend>
            {{ daily_form.as_p }}
            <input type="submit" value="Submit" name="daily" />
        </fieldset>
    </form>
    
    <br/><br/>
    <form action="" id="myform" method="post" style="width:850px;">
        <fieldset>
            <legend>Lookup student</legend>
            <table>
                <tr>
                    <td> {{ lookup_form.as_p }}  </td>
                </tr>
                <tr>
                    <td><input type="submit" name="studentlookup" /></td>
                </tr>
            </table>
        </fieldset>
    </form> 
{% endblock %}

