<!-- Just plain HTML, no admin stuff. Useful for ajax -->
<a class="close" onclick='$("#new_assignment_form").overlay().close();'></a>
<h2> {{ subtitle }} </h2>
{{ msg }}
<form method="post" onsubmit="handle_form_fragment_submit(this); return false;" item_id="{{ item_id }}" id="form_fragment" enctype="multipart/form-data" action="">
            <table class="form_table">
    {{ form.as_table }}
            </table>
    <input type="submit" value="Submit" />    
</form>
<script type="text/javascript" src="/static/js/init_admin_datepicker.js"></script>