{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script> 
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.autocomplete.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/iconic.css" />
    
    {% load adminmedia %}
	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="/static/grappelli/js/core.js"></script>
    {{ formset.media }}
{% endblock %}

{% block content %}
    <h1> {{ subtitle }} </h1>
    {{ msg }}
    
    <ol>
        {% for row in item_list %}
            <li>{{ row }}</li>
        {% endfor %}
    </ol>
    
    <form method="post" enctype="multipart/form-data" action="">
        {{ form }}
        <input type="submit" name="confirm" value="Yes"/>    
    </form>
{% endblock %}

