{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Hello." %}</h1>

<div class="subhead-text">
<strong>Welcome to SWoRD, the Student Worker Relational Database.</strong><br />
{% trans "Please log in below." %}
</div>


<form method="post" action="">
{{ form.non_field_errors }}    
{% csrf_token %}




<div class="username-field inline-label">
		<!--[if IE]><label for="id_username">Username</label><![endif]-->
		<input type="text" placeholder="Username" id="id_{{ form.username.html_name }}" name="{{ form.username.html_name }}" class="username">
</div>

<div class="clear"></div>

<div class="password-login">
	<div class="inputfield inline-label">
			<!--[if IE]><label for="id_password">Password</label><![endif]-->
			<input type="password" placeholder="Password" id="id_{{ form.password.html_name }}" name="{{ form.password.html_name }}" class="password">
	</div>
	
	<div class="loginbuttonwrap">
		<input type="submit" class="button gray" value="Log In">
	</div>
</div>






    
<input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="clear"></div>

<!--[if IE 7]>
<p>&nbsp;</p>
<p>&nbsp;</p>
<![endif]-->

<div class="subhead-text">
Switch to <a href="/admin/">Admin Interface</a>.
</div>
{% endblock %}
