{% load staticfiles %}
{% load compress %}

<html>
<head>

{% compress js %}
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script type="text/coffeescript" charset="utf-8" src="{% static "grades/app.coffee" %}"></script>
{% endcompress %}

</head>
<body ng-app="grades.app.static">
<div class="content" ng-controller="AppController">{% block content %}
{% verbatim %}

<div class="panel" ng-repeat="grade in grades">
    {{ grade.grade }}
    <button type="button" ng-controller="AppController" ng-click="changeGrade(grade)">Mess it up</button>
    <h3 class="panel-title">{{ grade.comment }}</h3>
</div>

{% endverbatim %}
{% endblock %}</div>
<script>
var app = angular.module('grades.app.static'); 
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
</body>
</html>
