{% extends 'base_next.html' %}
{% load staticfiles %}
{% load compress %}

{% block breadcrumbs %}
  <li><a href="../">Grades Dashboard</a></li>
  <li>{{ object }} Grades</li>
{% endblock %}

{% block extra_head %}
    {% compress js %}
    <script type="text/coffeescript" charset="utf-8" src="{% static "app/grades.coffee" %}"></script>
    {% endcompress %}
    <script src="{% static 'angular-ui-handsontable/dist/angular-ui-handsontable.full.js' %}"></script>
    <link rel="stylesheet" media="screen" href="{% static "angular-ui-handsontable/dist/angular-ui-handsontable.full.css" %}">
    <script type="text/javascript">
        var edit = '{{ edit }}'
        var edit_final = '{{ edit_final }}'
    </script>
{% endblock %}

{% block title %}
    Grades - {{ object }}
{% endblock %}

{% block content %}
    <div ng-app="angular_sis">
        Select school year:
        {% for year in school_years %}
            <a href="../{{ year.id }}/"> {{ year }} </a>
        {% endfor %}


        <div ng-view></div>
    </div>

{% endblock %}
