{% extends "admin_base.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <h2> Select course section to submit or check grades. </h2>
    <table style="text-align: center;">
        <tr>

            {% if pref == 'S' %}
                <th>Verify and Upload Grades</th>
                <th>Download Blank Grade Spreadsheet</th>
            {% elif pref == 'O' %}
                <th>Online Gradebook</th>
            {% elif pref == 'M' %}
                <th>Manual Grade Entry</th>
            {% elif pref == 'E' %}
                <th>Verify Grades Already Synced</th>
            {% endif %}
        </tr>
        {% for course_section in course_sections %}
            <tr>
                <td style="text-align: left;">
                    {% if pref in 'SME' %}
                        <a href="{% url 'course-section-grades' course_section.id %}">
                            {{ course_section }}
                        </a>
                    {% elif pref == 'O' %}
                        <a href="{% url "ecwsp.benchmark_grade.views.gradebook" course_section.id %}">
                            {{ course_section }}
                        </a>
                    {% endif %}
                </td>
                {% if pref == 'S' %}
                    <td><a href="download/{{ course_section.id }}/"> Download XLS </a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>


    {% if all_sections %}
    <h2> All sections </h2>
    <table style="text-align: center;">
        <tr>
            <th>Teacher</th>
            {% if pref == 'S' %}
                <th>Verify and Upload Grades</th>
                <th>Download Blank Grade Spreadsheet</th>
            {% elif pref == 'O' %}
                <th>Online Gradebook</th>
            {% elif pref == 'M' %}
                <th>Manual Grade Entry</th>
            {% elif pref == 'E' %}
                <th>Verify Grades Already Synced</th>
            {% endif %}
        </tr>
        {% for course_section in all_sections %}
            <tr>
                <td>
                    {{ course_section.teacher }}
                </td>
                <td style="text-align: left;">
                    {% if pref in 'SME' %}
                        <a href="{% url 'course-section-grades' course_section.id %}">
                            {{ course_section }}
                        </a>
                    {% elif pref == 'O' %}
                        <a href="{% url "ecwsp.benchmark_grade.views.gradebook" course_section.id %}">
                            {{ course_section }}
                        </a>
                    {% endif %}
                </td>
                {% if pref == 'S' %}
                    <td><a href="download/{{ course_section.id }}/"> Download XLS </a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}


    {% if pref == "E" %}
        <div class="modal" id="engrade_sync_form">
          <div class="content">
            <form action="" method="post">
                <h3>Select marking period.</h3>
                This will sync Engrade grades for the selected marking period. You may want to still verify your submitted grades afterwards.
                {{ form }}
                <br/>
                <input type="submit"/>
            </form>
          </div>
        </div>
        <br/>
        <p class="btn primary medium"><a href="#" class="switch" gumby-trigger="#engrade_sync_form">Sync all grades with Engrade</a></p>
    {% endif %}
    
    <br/>
    <p class="btn primary medium"><a href="{% url "ecwsp.grades.views.select_grade_method" %}?override=true&next=teacher_grade">Change Grading Method</a></p>
{% endblock %}
