{% extends "admin_base.html" %}

{% block breadcrumbs %}
<div id="breadcrumbs"> 
 <a href="/admin"> Home </a> 
 &rsaquo; 
 <a href="{% url "admin:report_builder_report_changelist" %}"> Reports </a> 
 &rsaquo; 
 {{ object }}
</div> 
{% endblock %}

{% block content %}
    <div id="report_builder_wrapper" style="height:590px;">
    {% include "report_builder:report_builder/report_form.html" %}
    </div>
    <script>
      win_height = $(window).height();
      $('#report_builder_wrapper').css('height', win_height - 120);
    </script>
{% endblock %}
